.rating {
  display: flex;
  align-items: center;

  &__star {
    margin-right: 3px;
  }

  &__star-icon {
    width: 14px;
    height: 14px;
  }

  &__score {
    font-size: 14px;
    font-weight: 700;
    color: #969696;
    margin-left: 12px;
    margin-right: 5px;
  }

  &__count {
    font-size: 14px;
    color: #969696;
  }
}

