mixin rating(has_score)

  .rating__stars
    span.rating__star
      svg.rating__star-icon(width="17" height="17")
        use(xlink:href="img/sprite-svg.svg#top-panel__rss")
    span.rating__star
      svg.rating__star-icon(width="17" height="17")
        use(xlink:href="img/sprite-svg.svg#top-panel__rss")
    span.rating__star
      svg.rating__star-icon(width="17" height="17")
        use(xlink:href="img/sprite-svg.svg#top-panel__rss")
    span.rating__star
      svg.rating__star-icon(width="17" height="17")
        use(xlink:href="img/sprite-svg.svg#top-panel__rss")
    span.rating__star
      svg.rating__star-icon(width="17" height="17")
        use(xlink:href="img/sprite-svg.svg#top-panel__rss")

  if (has_score)
    .rating__label
      span.rating__score 4,52
      span.rating__count (24 голоса)
