.rating {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    align-items: center;
    flex-direction: row;
  }

  &__stars-wrap {

  }

  &__star {
    margin-right: 3px;
  }

  &__star-icon {
    width: 14px;
    height: 14px;
  }

  &__label {
    order: -1;

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__label {
    margin-bottom: 3px;

    @media (min-width: $screen-md) {
      margin-bottom: 0;
    }
  }

  &__score {
    font-size: 14px;
    font-weight: 700;
    color: #969696;
    margin-bottom: 3px;

    @media (min-width: $screen-md) {
      margin-left: 12px;
      margin-right: 5px;
      margin-bottom: 0;
    }
  }

  &__count {
    font-size: 14px;
    color: #969696;
  }
}
