.modals {

  &__dialog {

    &--md {
      max-width: 300px !important;
    }

    &--lg {
      margin: 0;
      width: 320px;
      position: fixed;
      bottom: 0;
      left: 0;
      top: 50px;
      right: 0;
      border-radius: 0;

      .modals__text {
        padding: 0;
        padding-bottom: 30px;
        line-height: 1rem;
      }

      .modals__input-btn-block {
        justify-content: center;
      }

      .modals__btn {
        margin-bottom: 20px;
      }

      @media (min-width: $screen-sm) {
        margin: 1.75rem auto;
        top: 0;
        width: auto;
        max-width: 470px;
        position: static;
        border-radius: 6px;
      }
    }

    &--widescreen {
      margin: 0;
      width: 320px;
      position: fixed;
      bottom: 0;
      left: 0;
      top: 50px;
      right: 0;

      @media (min-width: $screen-sm) {
        margin: 1.75rem auto;
        top: 0;
        width: auto;
        max-width: 300px;
        position: static;
      }
    }
  }

  &__content {
    height: 100%;
    border-radius: 6px;

    &--widescreen {
      border-radius: 0;
      border: none;

      @media (min-width: $screen-sm) {
        border-radius: 6px;
        border: 1px solid rgba(0,0,0,.2);
      }
    }
  }

  &__header {
    display: block;
    text-align: center;
    position: relative;
    line-height: 1;
    padding: 5px;
    border-bottom: 1px solid #d8d8d8;

    &--widescreen {
      padding-top: 15px;
      padding-bottom: 15px;

      @media (min-width: $screen-md) {
        padding: 0;
      }
    }

    @media (min-width: $screen-md) {
      padding: 13px;
    }
  }

  &__title {
    color: #323232;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;


  }

  &__close {
    display: inline-block;
    background-color: #fff;
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 !important;
    margin: 0 !important;

    @media (min-width: $screen-md) {
      right: 0;
      top: 0;
      transform: translateY(0);
      line-height: 0;
      border-radius: 50%;
      border: 1px solid #f0f0f0;
      padding: 6px !important ;
      margin: -1rem -1rem!important;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }

    span {
      font-size: 25px;
      display: inline-block;
      padding: 8px 5px 0;
      line-height: 5px;
      height: 21px;
    }
  }

  &__close-icon {
    display: inline-block;
    width: 14px;
    height: 14px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    flex: 1;

    @media (min-width: $screen-md) {
      justify-content: center;
      flex: auto;
    }
  }

  &__socials {
    margin-bottom: 25px;
  }

  &__btn-block {
    // width: 240px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-self: stretch;

    &--column {
      flex-direction: column;
      align-items: center;
    }

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__footer {
    justify-content: center;
    text-align: center;
    padding: 16px;
    padding-top: 11px;
    padding-bottom: 15px;
    border-top: 1px solid #d8d8d8;
  }

  &__search {}

  &__rating {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &__input-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 13px;
  }

  &__input-label {
    color: #323232;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    text-align: left;
    width: 30%;
    margin-bottom: 0;
  }

  &__input-txt,
  &__input-pass {
    width: 60%;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #969696;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 6px 10px 8px 10px;

    &:focus {
      background-color: #fff;
    }
  }

  &__input-btn-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__input-btn {
    font-weight: bold;
    line-height: 23px;
    height: 32px;
    width: 100%;
  }

  &__input {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #969696;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 6px 10px 8px 10px;

    &:focus {
      background-color: #fff;
    }
  }

  &__btn {
    border-radius: 4px;
    border: 1px solid #eeeeee;
    color: #787878;
    background-color: #fff;
    padding-left: 22px;
    padding-right: 22px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 5px;
    margin-left: 5px;
    line-height: 29px;
    height: 32px;
    font-weight: normal;
    min-width: 75px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin-left: 10px;
    }

    &:hover {
      color: #787878;
      font-weight: normal;
    }

    &--gray {
      background-color: #eeeeee;

      &:hover {
        color: #787878;
        font-weight: normal;
      }
    }

    &--red {
      border: 1px solid #ff0000;
      color: #ff0000;

      &:hover {
        color: #ff0000;
        font-weight: normal;
      }
    }

    @media (min-width: $screen-md) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__btn-close {
    padding-left: 44px;
    padding-right: 44px;
  }

  &__btn-input {
    padding-left: 35px;
    padding-right: 35px;
    border: 1px solid #ff0303;
    color: #ff0303;

    &:hover {
      color: #ff0303;
      border: 1px solid #ff0303;
    }
  }

  &__text {
    width: 100%;
    margin: 0;
    padding: 20px;
    padding-bottom: 30px;
  }

  &__desc {
    width: 100%;
    margin: 10px;
  }

  &__textarea {
    width: 255px;
    min-height: 88px;
    resize: none;
    border: 1px solid #dedede;
    border-radius: 4px;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 19px;
  }

  &__radio {
    display: flex;
    align-self: baseline;
    margin-left: 15px;
  }

  &__label {
    color: #323232;
    display: block;
    align-self: flex-start;
    padding-left: 20px;
    line-height: 20px;
    font-size: 14px;
    font-weight: normal;

    &--bold {
      font-weight: 700;
      padding-left: 0;
    }
  }

  &__location {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 23px;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__location-icon {
    display: inline-block;
    width: 11px;
    height: 16px;
  }

  &__location-info {
    display: inline-block;
    margin-left: 5px;
  }

  &__location-city {
    color: #ff0101;
    position: relative;
    margin-left: 10px;

    &:hover {
      color: #ff0101;
    }

    &:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted #d0021b;
    }
  }

  &__fb-icon {
    width: 14px;
    height: 14px;
  }

  &__vk-icon {
    width: 20px;
    height: 10px;
  }

  &__mail-icon {
    width: 19px;
    height: 13px;
  }
}
