mixin modals()

  #selectCityModal.modal.fade.modals(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modals__dialog.modals__dialog--sm(role='document')
      .modal-content.modals__content
        .modal-header.modals__header
          h5.modal-title.modals__title
            | Выбран ваш город ?
          a.close.modals__close(href="#", data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×

        .modal-body.modals__body
          .modals__location
            svg.modals__location-icon(width="15" height="15")
              use(xlink:href="img/sprite-svg.svg#page-header__location")
            span.modals__location-info Город
            a.modals__location-city.callModalLocation(href="#") Москва
          .modals__btn-block
            button.modals__btn#modals__btn-apply(data-dismiss='modal', aria-label='Close')
              | Да
            button.modals__btn.modals__btn--gray#modalsBtnCancel
              | Нет

  #ratingModal.modal.fade.modals(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modals__dialog.modals__dialog--md(role='document')
      .modal-content.modals__content
        .modal-header.modals__header
          h5.modal-title.modals__title
            | Спасибо за вашу оценку!
          a.close.modals__close(href="#", data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×

        .modal-body.modals__body
          p.modals__text
            | Вы можете поделиться данным купоном со своими друзьями в социальных сетях!
          .socials
            +socials()
          .modals__btn-block
            button.modals__btn.modals__btn-close(data-dismiss='modal', aria-label='Close')
              | Закрыть

  #reviewModal.modal.fade.modals(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modals__dialog.modals__dialog--md(role='document')
      .modal-content.modals__content
        .modal-header.modals__header
          h5.modal-title.modals__title
            | Спасибо за ваш отзыв!
          a.close.modals__close(href="#", data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×

        .modal-body.modals__body
          p.modals__text
            | Вы можете поделиться данным купоном со своими друзьями в социальных сетях!
          .socials
            +socials()
          .modals__btn-block
            button.modals__btn.modals__btn-close(data-dismiss='modal', aria-label='Close')
              | Закрыть

  #errorModal.modal.fade.modals(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered.modals__dialog.modals__dialog--md(role='document')
      .modal-content.modals__content
        .modal-header.modals__header
          h5.modal-title.modals__title
            | Купон не сработал?
          a.close.modals__close(href="#", data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×

        form.modal-body.modals__body
          p.modals__text
            | Нашли ошибку? Расскажите нам!
          .el-radio
            input#r-conditions.modals__radio(type="radio" name="error" value="option1" checked="")
            label.el-radio-style(for="r-conditions")
            span.modals__label
              | Ошибка в условиях
          .el-radio
            input#r-disconts.modals__radio(type="radio" name="error" value="option2" checked="")
            label.el-radio-style(for="r-disconts")
            span.modals__label
              | Не удалось получить скидку
          .el-radio
            input#r-other.modals__radio(type="radio" name="error" value="option3" checked="")
            label.el-radio-style(for="r-other")
            span.modals__label
              | Другое
          textarea.modals__textarea(name="msg")
          .modals__btn-block
            button.modals__btn.modals__btn-input(type="submit")
              | Отправить

  //- #myModal.modal.fade.modals(tabindex='-1', role='dialog', aria-hidden='true')
  //-   .modal-dialog.modal-dialog-centered(role='document')
  //-     .modal-content.modals__content
  //-       .modal-header.modals__header
  //-         h5.modal-title.modals__title
  //-           | Выбран ваш город
  //-         a.close.modals__close(href="", data-dismiss='modal', aria-label='Close')
  //-           span(aria-hidden='true') ×

  //-       .modal-body.modals__body

  //-       .modal-footer.modals__footer
