.about {

  ul {
    list-style: disc;
    margin-bottom: 1rem;
    margin-left: 20px;
  }

  a {
    color: #ff0101;
    position: relative;

    &:hover {
      color: #ff0000;
      border-bottom: 1px dotted #ff0000;
    }
    &:visited {
      color: #551e99;
    }
  }

  background-color: #ffffff;
  margin-top: 10px;

  @media (min-width: $screen-sm) {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
  }

  &__title {
    font-size: 28px;
    padding-bottom: 15px;
    padding-left: 28px;
    padding-top: 19px;
    padding-right: 28px;
    border-bottom: 1px solid #dcdcdc;
  }

  &__inner {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;

    @media (min-width: $screen-md) {
      padding-bottom: 40px;
      padding-left: 35px;
      padding-top: 24px;
      padding-right: 32px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 68px;
      padding-left: 36px;
      padding-top: 24px;
      padding-right: 36px;
    }
  }

  &__text {

  }
}

.site-contact {
  padding-top: 20px;
}

.form-control {
  width: 80%;
  max-width: 400px;
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.help-block {

}
.help-block-error {
  margin-top: 3px;
  color: #ff0000;
}

.has-error {
  color: #ff0000;

  input {
    border: 1px solid #ff0000;
  }
}
