.bread {

  &--is-place {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__list {
    display: flex;
    margin-bottom: 10px;
  }

  &__link {
    margin-right: 15px;
    position: relative;
    font-size: 14px;

    &:after {
      content: "/";
      position: absolute;
      right: -9px;
    }
  }

  &__link,
  &__item span {
    color: #969696;
    font-weight: bold;
    font-size: 14px;

    &:hover {
      color: #969696;
      font-weight: bold;
    }
  }

  // width: 75%;
}
