mixin bread(is_places_category, bread)

  if (is_places_category)
    .bread
      ul.bread__list
        li.bread__item
          a.bread__link(href="#")
            | Купоны в г. Москва
        li.bread__item
          span=bread

  if (!is_places_category)
    .bread.bread--is-place
      ul.bread__list
        li.bread__item
          a.bread__link(href="#")
            | Заведения в г. Москва
        li.bread__item
          a.bread__link(href="#")
            | Спорт и отдых
        li.bread__item
          a.bread__link(href="#")
            | SPA-центры
        li.bread__item
          span
            | Уход за телом
