.balloons {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  

  &__item_1 {
    // width: 405px;
    // height: 322px;
    // background-color: #fff;
    // border-radius: 6px;
    // border: 1px solid #979797;

  }


  &__item_2 {}
  &__item_3 {}
  &__item_4 {}
  &__item_5 {}
  &__item_6 {}
  &__item_7 {}
}
