mixin balloons()

  .balloons
    .balloon__item_1
      .main-content__address-block
        .main-content__address-img-wrap
          img.main-content__address-img(src="http://via.placeholder.com/212x88" alt="img" width="212" height="88")
        span.main-content__address-info
        h2.main-content__address-title
          | Итальянский ресторан Il Patio
        a.btn.main-content__address-btn(href="#")
          | Подробнее о месте
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#coupon__address-clock-icon")
          span.main-content__address-meta-desc
            | Пн-Вс, 08:00-22:00
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#coupon__address-phone-icon")
          a.main-content__address-meta-desc(href="tel:+78121234567")
            | +7 (812) 123-45-67
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="13" height="18")
            use(xlink:href="img/sprite-svg.svg#coupon__address-map-icon")
          span.main-content__address-meta-desc
            | пр. Культуры, 1, Москва


    .balloon__item_2
      .main-content__address-block
        .main-content__address-img-wrap
          img.main-content__address-img(src="http://via.placeholder.com/212x88" alt="img" width="212" height="88")
        span.main-content__address-info
        h2.main-content__address-title
          | Итальянский ресторан Il Patio
        a.btn.main-content__address-btn(href="#")
          | Подробнее о месте
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#coupon__address-clock-icon")
          span.main-content__address-meta-desc
            | Пн-Вс, 08:00-22:00
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="14" height="14")
            use(xlink:href="img/sprite-svg.svg#coupon__address-phone-icon")
          a.main-content__address-meta-desc(href="tel:+78121234567")
            | +7 (812) 123-45-67
        .main-content__address-meta
          svg.main-content__address-meta-icon(width="13" height="18")
            use(xlink:href="img/sprite-svg.svg#coupon__address-map-icon")
          span.main-content__address-meta-desc
            | пр. Культуры, 1, Москва


    .balloon__item_3


    .balloon__item_4


    .balloon__item_5


    .balloon__item_6


    .balloon__item_7

