mixin profile-subscribe()

  .profile-subscribe
    form#subscriptionSettings.profile-subscribe__form(action="")
      fieldset.profile-subscribe__header
        h2.profile-subscribe__title
          | Подписки

        span.profile-subscribe__subtitle
          | Место, подборка, категория
        span.profile-subscribe__periodicaly
          | Частота рассылки

        ul.profile-subscribe__subscription-list
          li.profile-subscribe__subscription-item
            a.profile-subscribe__label(href="#")
              | Аквапарк Мореон
            select.profile-subscribe__select.custom-select(name="subscriptionItem")
              option(value="Каждый день")
                | Каждый день
              option(value="Раз в неделю")
                | Раз в неделю
              option(value="Раз в месяц")
                | Раз в месяц

            button.profile-subscribe__btn.btn
              | Удалить

          li.profile-subscribe__subscription-item
            a.profile-subscribe__label(href="#")
              | Аквапарк Мореон
            select.profile-subscribe__select.custom-select(name="subscriptionItem")
              option(value="Каждый день")
                | Каждый день
              option(value="Раз в неделю")
                | Раз в неделю
              option(value="Раз в месяц")
                | Раз в месяц

            button.profile-subscribe__btn.btn
              | Удалить

          li.profile-subscribe__subscription-item
            a.profile-subscribe__label(href="#")
              | Аквапарк Мореон
            select.profile-subscribe__select.custom-select(name="subscriptionItem")
              option(value="Каждый день")
                | Каждый день
              option(value="Раз в неделю")
                | Раз в неделю
              option(value="Раз в месяц")
                | Раз в месяц

            button.profile-subscribe__btn.btn
              | Удалить

      fieldset.profile-subscribe__body
        h2.profile-subscribe__title
          | Новая подписка

        .profile-subscribe__form-inner
          label.profile-subscribe__label-search(for="searchInput")
            | Место
            input#searchInput.profile-subscribe__input(type="search" name="search_input")
            button.profile-subscribe__reset(type="reset")
              svg.profile-subscribe__reset-icon(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#profile-main__reset-icon")

          label.profile-subscribe__label(for="subscriptionCategory")
            | Категория/подкатегория
            select#subscriptionCategory.custom-select.profile-subscribe__select.disabled(name="category", disabled)
              option(value="Одежда для детей")
                | Одежда для детей
              option(value="Одежда для детей")
                | Одежда для детей
              option(value="Одежда для детей")
                | Одежда для детей
              option(value="Одежда для детей")
                | Одежда для детей

          label.profile-subscribe__label(for="periodicity")
            | Частота рассылки
            select#periodicity.profile-subscribe__select.custom-select(name="periodicity")
              option(value="Каждый день")
                | Каждый день
              option(value="Раз в неделю")
                | Раз в неделю
              option(value="Раз в месяц")
                | Раз в месяц

      .profile-subscribe__footer
        button.profile-subscribe__btn.btn
          | Добавить подписку


