.profile-favorite {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: -15px;
  padding-top: 22px;

  @media (min-width: $screen-xs) {
    border-radius: 10px;
    margin-top: 0;
    width: auto;
  }
  @media (min-width: $screen-md) {
    display: block;
  }

  &__title {
    padding-left: 30px;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #323232;

    @media (min-width: $screen-md) {
      margin-left: 26px;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 44px;
    padding-right: 18px;
    padding-top: 14px;
    border-bottom: 1px solid #dcdcdc;
  }

  &__body {
    padding-left: 28px;
    padding-right: 16px;
    padding-bottom: 27px;
    padding-top: 21px;
    overflow-x: hidden;

    @media (min-width: $screen-sm) {
      padding-bottom: 27px;
      padding-top: 20px;
    }

    @media (min-width: $screen-lg) {
      padding-left: 50px;
      padding-right: 50px;
      padding-bottom: 22px;
      padding-top: 22px;
    }
  }

  &__nav-tabs {
    border-bottom: none;
  }

  &__tab-link {
    color: #787878 !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 0;
    line-height: 19px;
  }

  &__tab-link:hover {
    background-color: transparent !important;
  }

  &__tab-link:focus {
    background-color: transparent !important;
  }

  &__tab-link.active {
    color: #f00 !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 3px solid #f00 !important;
  }

  &__tab-count {
    margin-left: 6px;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }

  &__btn {
    border: 1px solid #a3a3a3;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 18px;
    font-weight: normal;
    color: #787878;
    opacity: 0.5;

    &:hover {
      color: #787878;
      font-weight: normal;
      background-color: #fff;
    }

    &:focus {}

    &:active {
      background-color: #fff;
    }

    &.active {
      opacity: 1;
    }

    &--left {
    border-radius: 4px 0 0 4px;
    }

    &--right {
      margin-left: -1px;
      border-radius: 0 4px 4px 0;
    }

    & span {
      display: inline;
      margin-left: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  &__more-btn {
    height: 54px;
    width: 180px;
    padding-left: 16px;
    padding-right: 50px;
    padding-top: 10px;
    color: #787878;
    font-weight: bold;
    background-color: #eeeeee;
    border-radius: 6px;
    margin-bottom: 23px;
    color: #9b9b9b;
    position: relative;

    @media (min-width: $screen-md) {
      margin-left: 10px;
    }

    @media (min-width: $screen-lg) {
      margin-left: 0;
    }

    &:hover {
      background-color: #f3f1f1;
      color: #9b9b9b;
      font-weight: bold;
    }

    &:active {
      background-color: #dcdcdc;
    }

    &:after {
      content: "";
      border-right: 1px solid #9b9b9b;
      border-bottom: 1px solid #9b9b9b;
      transform: rotate(-45deg);
      height: 12px;
      width: 12px;
      display: inline-block;
      right: 26px;
      top: 19px;
      position: absolute;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: -23px;
    margin-bottom: 23px;

    .pagination {
      box-shadow: none;
    }
  }

  &__address-map {
    height: 288px;
    width: 100%;
    border: none;

    @media (min-width: $screen-md) {
      height: 560px;
    }
  }
}
