mixin profile-favorite()

  .profile-favorite
    h2.profile-favorite__title
      | Избранное

  //- ТАБЫ Купоны-Места
  .profile-favorite__header
    .profile-favorite__tab-panel
      ul.nav.filter__tabs(role="tablist")
        li.nav-item
          a#byPlitkaTab.filter__btn.filter__btn--left.btn.nav-link.active(data-toggle="tab" href="#byPlitka" role="tab" aria-controls="byPlitka" aria-selected="true")
            span
              | Купоны
            span
              | 3

        li.nav-item
          a#onMapTab.filter__btn.filter__btn--right.btn.nav-link(data-toggle="tab" href="#onMap" role="tab" aria-controls="onMap" aria-selected="false")
            span
              | Места
            span
              | 7

  .tab-content
    //- Вкладка Купоны
    .main-content#byPlitka.tab-pane.fade.active(role="tabpanel" aria-labelledby="byPlitkaTab")
      .profile-favorite__body

        //- ТАБЫ Купоны Плитка-Карта
        .profile-favorite__tab-panel
          ul.nav.filter__tabs(role="tablist")
            li.nav-item
              a#byPlitkaTab.filter__btn.filter__btn--left.btn.nav-link.active(data-toggle="tab" href="#byPlitka" role="tab" aria-controls="byPlitka" aria-selected="true")
                svg.filter__by_plitka(width="14" height="12")
                  use(xlink:href="img/sprite-svg.svg#filter__by_plitka")
                span
                  | Плиткой

            li.nav-item
              a#onMapTab.filter__btn.filter__btn--right.btn.nav-link(data-toggle="tab" href="#onMap" role="tab" aria-controls="onMap" aria-selected="false")
                svg.filter__on_map(width="16" height="14")
                  use(xlink:href="img/sprite-svg.svg#filter__on_map")
                span
                  | На карте

        .tab-content
          //- Вкладка Купоны карточки
          .main-content#byPlitka.tab-pane.fade.active(role="tabpanel" aria-labelledby="byPlitkaTab")
            .profile-favorite__inner
              +place-item()
              +place-item()
              +place-item()
              +place-item()
              +place-item()
              +place-item()

            .profile-favorite__pagination
              +pagination()

          //- Вкладка Купоны карта
          .main-content#onMap.tab-pane.fade(role="tabpanel" aria-labelledby="onMapTab")
            #placeMap.profile-favorite__address-map

    //- Вкладка Места
    .main-content#byPlitka.tab-pane.fade.active(role="tabpanel" aria-labelledby="byPlitkaTab")
      .profile-favorite__body

        //- ТАБЫ Места Плитка-Карта
        .profile-favorite__tab-panel
          ul.nav.filter__tabs(role="tablist")
            li.nav-item
              a#byPlitkaTab.filter__btn.filter__btn--left.btn.nav-link.active(data-toggle="tab" href="#byPlitka" role="tab" aria-controls="byPlitka" aria-selected="true")
                svg.filter__by_plitka(width="14" height="12")
                  use(xlink:href="img/sprite-svg.svg#filter__by_plitka")
                span
                  | Плиткой

            li.nav-item
              a#onMapTab.filter__btn.filter__btn--right.btn.nav-link(data-toggle="tab" href="#onMap" role="tab" aria-controls="onMap" aria-selected="false")
                svg.filter__on_map(width="16" height="14")
                  use(xlink:href="img/sprite-svg.svg#filter__on_map")
                span
                  | На карте

        .tab-content
          //- Вкладка Места карточки
          .main-content#byPlitka.tab-pane.fade.active(role="tabpanel" aria-labelledby="byPlitkaTab")
            .profile-favorite__inner
              +place-item()
              +place-item()
              +place-item()
              +place-item()
              +place-item()
              +place-item()

            .profile-favorite__pagination
              +pagination()

          //- Вкладка Места карта
          .main-content#onMap.tab-pane.fade(role="tabpanel" aria-labelledby="onMapTab")
            #placeMap.profile-favorite__address-map
