mixin profile-reviews()

  .profile-reviews
    legend.profile-reviews__title
      | Ваши отзывы

    .profile-reviews__inner
      .profile-reviews__review.review
        time.review__data
          | 2 августа 2017 12:24

        .review__rating
          +rating(true, false)

        a.review__head(href="coupon_admin.html")
          span.review__subject
            | Аквапарк «Родео Драйв»
          span.review__title
            | Скидка до 50% на посещение бассейна
        .review__body
          p.review__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, fugiat obcaecati nesciunt autem voluptate ad blanditiis impedit soluta maxime mollitia rerum quos, cumque numquam molestias odio placeat exercitationem repudiandae reprehenderit.

      .profile-reviews__review.review
        time.review__data
          | 2 августа 2017 12:24

        .review__rating
          +rating(true, false)

        a.review__head(href="coupon_admin.html")
          span.review__subject
            | Аквапарк «Родео Драйв»
          span.review__title
            | Скидка до 50% на посещение бассейна
        .review__body
          p.review__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, fugiat obcaecati nesciunt autem voluptate ad blanditiis impedit soluta maxime mollitia rerum quos, cumque numquam molestias odio placeat exercitationem repudiandae reprehenderit.

      .profile-reviews__review.review
        time.review__data
          | 2 августа 2017 12:24

        .review__rating
          +rating(true, false)

        a.review__head(href="coupon_admin.html")
          span.review__subject
            | Аквапарк «Родео Драйв»
          span.review__title
            | Скидка до 50% на посещение бассейна
        .review__body
          p.review__text
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit, fugiat obcaecati nesciunt autem voluptate ad blanditiis impedit soluta maxime mollitia rerum quos, cumque numquam molestias odio placeat exercitationem repudiandae reprehenderit.
