.coupon {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: -50px;
  width: 100%;
  overflow: hidden;

  @media (min-width: $screen-sm) {
    margin-bottom: 20px;
    border-radius: 10px;
  }

  @media (min-width: $screen-md) {
    width: 754px;
  }

  @media (min-width: $screen-lg) {
    width: 1024px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 14px;
    border-bottom: 1px solid #dcdcdc;
  }

  &__nav-tabs {
    border-bottom: none;
    list-style: none !important;
  }

  &__tab-link {
    color: #787878 !important;
    background-color: transparent !important;
    border: none !important;
    padding-top: 0;
    padding-bottom: 18px;
    line-height: 19px;

    @media (min-width: $screen-md) {
      padding-bottom: 8px;
    }
  }

  &__tab-link:hover {
    background-color: transparent !important;
  }

  &__tab-link:focus {
    background-color: transparent !important;
  }

  &__tab-link.active {
    color: #f00 !important;
    background-color: transparent !important;
    border: none;
    border-bottom: 3px solid #f00 !important;
  }

  &__tab-count {
    margin-left: 6px;
  }

  &__editor-label {
    display: none !important;
    align-items: center;

    @media (min-width: $screen-md) {
      display: flex !important;
    }
  }

  &__editor-label-title {
    margin-right: 10px;
  }

  &__body {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  &__description-tab {

    @media (min-width: $screen-md) {
      padding-top: 20px;
      padding-left: 21px;
      padding-right: 25px;
      padding-bottom: 42px;
    }
  }

  &__info {
    flex: 1;
    position: relative;

    @media (min-width: $screen-md) {
      padding-right: 30px;
    }
  }

  &__info:after {
    content:'';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
  #placeGallery {
    cursor: pointer;
  }

  &__img-wrap {
    width: 320px;
    height: 230px;
    overflow: hidden;
    margin-bottom: 12px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &.expired img {
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      filter: gray;
      -webkit-filter: grayscale(1);
    }

    @media (min-width: 380px) {
      margin-left: 30px;
      margin-right: auto;
    }

    @media (min-width: $screen-md) {
      border-radius: 4px;
      margin-bottom: 22px;
      margin-right: 22px;
      margin-left: 0;
      width: 336px;
      float: left;
    }
  }

  &__img {
    min-height: 1px;
    width: 100%;
  }

  &__sale {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #f00;
    color: #fff;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
    height: 25px;

    left: 15px;
    top: 190px;

    span {
      font-weight: 700;
      color: #fff;
    }
  }

  &__gallery {
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: #000;
    opacity: 0.4;
    color: #fff;
    font-weight: normal;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 25px;
    height: 25px;
    left: 15px;
    top: 190px;
    display: flex;
    align-items: baseline;

    span {
      font-weight: normal;
      color: #fff;
    }
  }

  &__gallery-icon {
    margin-right: 4px;
    width: 18px;
    height: 14px;
  }

  &__text {
    color: #323232;
    font-size: 14px;
    padding-left: 30px;
    padding-right: 25px;
    margin-bottom: 40px;
    list-style: disc;

    &--hide {
      padding-left: 0;
      padding-right: 0;
      display: none;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 1rem;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__toggle {
    position: relative;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    padding-left: 20px;
    padding-right: 17px;
    font-weight: bold;
    border-radius: 4px;
    vertical-align: bottom;
    display: block;
    margin: 0 auto;
    min-width: 130px;
    color: #787878;
    background-color: #e9e9e9;
    font-weight: normal;

    &:hover {
      background-color: #f3f1f1;
      font-weight: normal;
    }

    &:active {
      background-color: #dcdcdc;
      font-weight: normal;
    }
  }

  &__edit-btn {
    border-radius: 4px;
    font-size: 14px;
    line-height: 34px;
    height: 34px;
    padding-left: 20px;
    padding-right: 17px;
    display: none;
    margin-top: 20px;
    align-items: center;
    margin-bottom: 15px;
    color: #787878;
    border: 1px solid #dedede;
    background-color: #ffffff;

    span {
      display: inline-flex;
      padding-left: 9px;
      line-height: 1;
    }

    svg {
      fill: #b5b5b5;
    }

    &:hover {
      color: #787878;
      background-color: #eeeeee;
      border: 1px solid #dedede;

      svg {
        fill: #b5b5b5;
      }
    }

    &:active {
      color: #787878;
      background-color: #dcdcdc;
      border: 1px solid #dedede;
    }

    @media (min-width: $screen-md) {
      margin-bottom: 0;
      display: block;
      vertical-align: bottom;
    }
  }

  &__edit-btn-icon {
    width: 16px;
    height: 15px;
  }

  &__aside {
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;

    @media (min-width: $screen-md) {
      width: 330px;
      padding-top: 0;
      padding-left: 30px;
      padding-bottom: 0;
    }

    &:before {

      @media (min-width: $screen-md) {
        content: "";
        width: 1px;
        height: 202px;
        background-color: #dcdcdc;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }

  &__take-block {
    margin-bottom: 28px;
    padding-left: 30px;
    padding-right: 25px;

    @media (min-width: $screen-md) {
      border-radius: 6px;
      background-color: #eeeeee;
      padding-left: 21px;
      padding-right: 21px;
      padding-top: 24px;
      padding-bottom: 22px;
    }
  }

  &__take-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 11px;
    color: #323232;
    display: none;

    @media (min-width: $screen-md) {
      padding: 0;
      display: block;
    }

    &--on-top {
      display: block;
      padding-left: 30px;
      padding-right: 25px;

      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__take-btn {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    height: 41px;
    margin-bottom: 17px;
    display: block;

    &[disabled="disabled"],
    &.disabled {
      background-color: #969696;

      &:hover,
      &:active {
        background-color: #969696;
      }
    }

    @media (min-width: $screen-sm) {
      display: inline-block;
      padding-left: 40px;
      padding-right: 40px;
    }

    @media (min-width: $screen-md) {
      display: block;
      margin-left: 0;
      margin-right: 0;
    }

    &--on-top {
      margin-left: 30px;
      margin-right: 25px;


      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }

  &__take-dealer {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-bottom: 10px;
  }

  &__take-link {
    width: 14px;
    height: 14px;
    margin-right: 5px;
  }

  &__take-review {}

  &__take-review-title {
    font-size: 14px;
    color: #969696;
    margin-bottom: 10px;
  }

  &__take-review-btn {
    display: inline-block;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    padding-left: 23px;
    padding-right: 23px;
    border-radius: 4px;
    margin-right: 6px;
    color: #323232;
    box-shadow: none;
    border: none;

    &:hover {
      color: #323232;
    }

    &:active {
      color: #323232;
    }

    &--green {
      background-color: #c4e9c4;
      &:hover {
        background-color: #adcfad;
      }
      &:active {
        background-color: #adcfad;
      }
    }
    &--red {
      background-color: #f7c4c4;

      &:hover {
        background-color: #dda9a9;
      }
      &:active {
        background-color: #dda9a9;
      }
    }
  }

  &__take-review-btn-wrap {}

  &__take-score-wrap {
    display: flex;
    margin-bottom: 10px;
  }

  &__take-score {
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }

  &__take-score-icon {
    width: 16px;
    height: 15px;
    margin-right: 7px;
  }

  &__take-score-count {
    color: #969696;
  }

  &__get-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f6f6;
    padding-top: 12px;
    padding-bottom: 13px;
    padding-left: 19px;
    margin-bottom: 23px;

    @media (min-width: $screen-md) {}

    & .rating {
      margin-right: 24px;
    }
  }

  &__get-rating-title {
    color: #323232;
    font-weight: bold;
    margin: 0;
  }

  &__contacts {
    padding-left: 30px;
    padding-right: 25px;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__contacts-title {
    color: #323232;
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__contacts-place {
    color: #323232;
    font-size: 14px;
    position: relative;
    display: inline-block;
    margin-bottom: 7px;

    &:after {
      content: "";
      height: 1px;
      width: 100%;
      position: absolute;
      border-bottom: 1px dashed #d8d8d8;
      left: 0;
      bottom: -2px;
    }
  }

  &__contacts-rating {
    margin-bottom: 10px;
  }

  &__contacts-phone-title,
  &__contacts-cite-title {
    display: block;
    color: #323232;
    margin-top: 7px;
  }

  &__contacts-phone,
  &__contacts-cite {
    display: inline-block;
    color: #969696;

    &:last-child {
      margin-bottom: 7px;
    }
  }

  &__contacts-cite {
    border-bottom: 1px dotted #969696;

    &:hover {
      color: #ff0000;
      border-bottom: 1px dotted #ff0000;
    }
    &:visited {
      color: #551e99;
    }
  }

  &__contacts-timetable-title {
    margin-top: 7px;
    color: #323232;
    display: block;
  }

  &__contacts-timetable {
    display: block;
    color: #969696;
  }

  &__place-btn {
    margin-top: 19px;
    font-size: 14px;
    color: #787878;
    border-radius: 4px;
    line-height: 34px;
    height: 34px;
    padding-left: 17px;
    padding-right: 17px;
    border: 1px solid #dedede;
    display: inline-block;
    margin-right: 50px;
  }

  &__sharing {
    margin-top: 22px;
    margin-bottom: 31px;
    padding-left: 30px;
    padding-right: 25px;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
      margin-bottom: 0;
    }
  }

  &__sharing-title {
    display: block;
    color: #323232;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
  }

  &__sharing-desc {
    font-size: 14px;
  }

  &__sharing-socials {
    text-align: left;

    & .socials__list {
      justify-content: flex-start;
      margin-left: -10px;
    }
  }

  &__review-tab {

    @media (min-width: $screen-md) {
      padding-top: 20px;
      padding-left: 21px;
      padding-right: 25px;
    }
  }

  &__comment-block {
    flex: 1;
    padding-left: 17px;
    padding-right: 17px;

    @media (min-width: $screen-md) {
      padding-left: 13px;
    }
  }

  &__comment {}
  &__rating-block {
    order: -1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    background-color: #eeeeee;
    align-self: flex-start;
    border-radius: 6px;
    margin: 0 auto;
    width: 290px;
    margin-top: 10px;

    @media (min-width: $screen-md) {
      width: 230px;
      margin-top: 0;
      margin-left: 34px;
      order: 0;
    }
  }

  &__rating-block-title {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 11px;
  }

  &__rating {
    margin-bottom: 8px;
    flex-direction: row !important;

    @media (min-width: $screen-md) {
      flex-direction: column;
    }
  }

  &__rating-count {
    color: #787878;
    font-size: 14px;
    margin-left: 10px;
  }

  &__footer {
    padding-top: 18px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 17px;

    border-top: 1px solid #dcdcdc;
    display: flex;
    flex-direction: column;
  }

  &__footer-title {
    font-size: 20px;
    font-weight: bold;
    color: #323232;
    margin: 0;
  }

  &__footer-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 22px;

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  &__footer-rating-block {
    display: flex;
    flex-direction: row;

    @media (min-width: $screen-md) {

    }
  }

  &__footer-rating-title {
    font-size: 14px;
    color: #323232;
  }

  &__footer-rating {
    margin-left: 15px;
  }

  &__footer-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__footer-textarea {
    border-radius: 4px;
    width: 280px;
    border: 1px solid #dedede;
    margin-bottom: 14px;
    resize: none;
    margin-top: 17px;
    min-height: 106px;
    padding: 10px;

    @media (min-width: $screen-md) {
      min-height: 88px;
      margin-left: 58px;
      margin-top: 0;
      width: 454px;
    }
  }

  &__footer-submit {
    height: 32px;
    line-height: 20px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 4px;
    border: 1px solid #dedede;
    color: #4d4d4d;
    background-color: transparent;
    font-size: 14px;
    font-weight: normal;

    &:hover {
      background-color: inherit;
      color: #4d4d4d;
      font-size: 14px;
      font-weight: normal;
    }
  }

  &__address-tab {
    position: relative;
    flex-direction: column !important;
  }

  &__address-block {
    width: 100%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;

    @media (min-width: $screen-md) {
      position: absolute;
      left: 18px;
      top: 18px;
      width: 242px;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__address-img-wrap {
    width: 212px;
    height: 88px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 14px;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__address-img {
    min-height: 1px;
    width: 100%;
  }

  &__address-title {
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      font-size: 12px;
    }
  }

  &__address-btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 17px;
    width: 100%;
    height: 32px;
    line-height: 18px;
    text-align: center;
  }

  &__address-meta {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
  }

  &__address-meta-icon {
    width: 14px;
    height: 14px;
  }

  &__address-meta-desc {
    font-size: 14px;
    color: #323232;
    display: inline-block;
    margin-left: 10px;

    @media (min-width: $screen-md) {
      font-size: 12px;

    }
  }

  &__address-map {
    height: 288px;
    width: 100%;
    border: none;

    @media (min-width: $screen-md) {
      height: 560px;
    }
  }
}
