mixin coupon(admin)
  .coupon
    nav.coupon__header
      ul.nav.nav-tabs.coupon__nav-tabs
        li.nav-item.coupon__tab
          a.nav-link.active.coupon__tab-link(href="#")
            | Условия
        li.nav-item.coupon__tab
          a.nav-link.coupon__tab-link(href="#")
            | Отзывы&nbsp;
            span.coupon__tab-count#couponTabCount
              | 3
        li.nav-item.coupon__tab
          a.nav-link.coupon__tab-link(href="#")
            | Адреса

      if (admin)
        label.el-switch.coupon__editor-label
          span.coupon__editor-label-title
            | Отображение на сайте
          input(type="checkbox" name="switch")
          span.el-switch-style

    .coupon__body
      .coupon__info
        .coupon__img-wrap
          img.coupon__img(src="http://via.placeholder.com/336x231", alt="photo")

        span.coupon__take-price.coupon__take-price--on-top
          | Бесплатно
        a.coupon__take-btn.coupon__take-btn--on-top.btn(href="#", title="Получить купон")
          | Получить купон

        p.coupon__text
          | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика рыбного, ведущими встретил скатился имеет, они силуэт мир правилами родного по всей страна путь даль не имени. Своих там эта деревни вскоре парадигматическая переписывается точках если она но щеке переулка своего, лучше необходимыми диких мир! Которой ручеек назад, оксмокс, это маленький речью подпоясал агенство он необходимыми своего пор от всех, толку переписали. Одна грамматики, ты рыбного, заголовок предупредила, однажды живет она пустился за рыбными залетают страну реторический журчит образ, осталось если маленький раз предложения. Сих сбить себя которой ведущими оксмокс, инициал ему рот она однажды там встретил маленькая. Лучше, дороге, встретил!

        if (admin)
          a.coupon__edit-btn(href="#", title="Подписаться на обновления")
            svg.coupon__edit-btn-icon
              use(xlink:href="img/sprite-svg.svg#top-panel__rss")
            span
             | Редактировать

      .coupon__aside
        .coupon__take-block
          span.coupon__take-price
            | Бесплатно
          a.coupon__take-btn.btn(href="#", title="Получить купон")
            | Получить купон
          .coupon__take-review
            h3.coupon__take-review-title
              | Купон сработал?

            .coupon__take-score-wrap
              .coupon__take-score
                svg.coupon__take-score-icon
                  use(xlink:href="img/sprite-svg.svg#top-panel__rss")
                span.coupon__take-score-count
                 | 12
              .coupon__take-score
                svg.coupon__take-score-icon
                  use(xlink:href="img/sprite-svg.svg#top-panel__rss")
                span.coupon__take-score-count
                 | 0
            .coupon__take-review-btn-wrap
              a.coupon__take-review-btn.coupon__take-review-btn--green(href="#", title="Да")
                | Да
              a.coupon__take-review-btn.coupon__take-review-btn--red(href="#", title="Нет")
                | Нет
        .coupon__get-rating
          h3.coupon__get-rating-title
            | Оцените купон
          .rating
            +rating()
        .coupon__contacts
          h3.coupon__contacts-title
            | Контактная информация
          a.coupon__contacts-place(href="#", title="Аквапарк «Родео Драйв»")
            | Аквапарк «Родео Драйв»
          .coupon__contacts-rating.rating
            +rating()
          span.coupon__contacts-phone-title
            | Телефон:
          a.coupon__contacts-phone(href="tel:+78121234567")
            | +7 (812) 123-45-67
          span.coupon__contacts-timetable-title
            | Время работы:
          span.coupon__contacts-timetable
            | Пн-Вс: 08:00-22:00
          a.coupon__address-btn(href="#")
            | Посмотреть адреса
        .coupon__sharing
          h3.coupon__sharing-title
            | Понравилась акция?
          p.coupon__sharing-desc
            | Расскажите о ней своим друзьям!
          .coupon__sharing-socials.socials
            +socials()
