mixin coupon(admin, is_space)

  .coupon
    nav.coupon__header
      ul.nav.coupon__nav-tabs(role="tablist")
        li.nav-item.coupon__tab
          a#descriptionTab.nav-link.coupon__tab-link.active(data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true")
            | Условия
        li.nav-item.coupon__tab
          a#reviewTab.nav-link.coupon__tab-link(data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false")
            | Отзывы&nbsp;
            span.coupon__tab-count#couponTabCount
              | 3
        li.nav-item.coupon__tab
          a#addressTab.nav-link.coupon__tab-link(data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false")
            | Адреса

      if (admin)
        label.el-switch.coupon__editor-label
          span.coupon__editor-label-title
            | Отображение на сайте
          input(type="checkbox" name="switch")
          span.el-switch-style

    .tab-content
      #description.tab-pane.fade.active(role="tabpanel" aria-labelledby="descriptionTab")
        .coupon__body.coupon__description-tab
          .coupon__info
            if (!is_space)
              .coupon__img-wrap
                img.coupon__img(src="img/card__photo.jpg", alt="photo" width="336" height="231")
                span.coupon__sale
                  | до&nbsp;
                  span
                    | 50%

            if (is_space)
              .coupon__img-wrap#placeGallery(href="#")
                img.coupon__img(src="img/card__photo.jpg", alt="photo" width="336" height="231")
                span.coupon__gallery
                  svg.coupon__gallery-icon(width="18" height="14")
                    use(xlink:href="img/sprite-svg.svg#coupon__gallery")
                  span
                    | 19 фото

            span.coupon__take-price.coupon__take-price--on-top
              | Бесплатно
            a.coupon__take-btn.coupon__take-btn--on-top.btn(href="#", title="Получить купон")
              | Получить купон

            p.coupon__text
              | Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Семантика рыбного, ведущими встретил скатился имеет, они силуэт мир правилами родного по всей страна путь даль не имени. Своих там эта деревни вскоре парадигматическая переписывается точках если она но щеке переулка своего, лучше необходимыми диких мир! Которой ручеек назад, оксмокс, это маленький речью подпоясал агенство он необходимыми своего пор от всех, толку переписали. Одна грамматики, ты рыбного, заголовок предупредила, однажды живет она пустился за рыбными залетают страну реторический журчит образ, осталось если маленький раз предложения. Сих сбить себя которой ведущими оксмокс, инициал ему рот она однажды там встретил маленькая. Лучше, дороге, встретил!

            if (admin)
              a.coupon__edit-btn(href="#", title="Подписаться на обновления")
                svg.coupon__edit-btn-icon(width="15" height="16")
                  use(xlink:href="img/sprite-svg.svg#coupon__edit-btn-icon")
                span
                  | Редактировать
          .coupon__aside

            if (!is_space)
              .coupon__take-block
                span.coupon__take-price
                  | Бесплатно
                a.coupon__take-btn.btn(href="#", title="Получить купон")
                  | Получить купон
                .coupon__take-review
                  h3.coupon__take-review-title
                    | Купон сработал?

                .coupon__take-score-wrap
                  .coupon__take-score
                    svg.coupon__take-score-icon(width="15" height="10")
                      use(xlink:href="img/sprite-svg.svg#coupon__take-score-yes")
                    span.coupon__take-score-count
                     | 12
                  .coupon__take-score
                    svg.coupon__take-score-icon(width="12" height="12")
                      use(xlink:href="img/sprite-svg.svg#coupon__take-score-no")
                    span.coupon__take-score-count
                     | 0
                .coupon__take-review-btn-wrap
                  button.coupon__take-review-btn.coupon__take-review-btn--green(title="Да")
                    | Да
                  button#callErrorModal.coupon__take-review-btn.coupon__take-review-btn--red(title="Нет")
                    | Нет

            if (!is_space)
              .coupon__get-rating
                h3.coupon__get-rating-title
                  | Оцените купон
                +rating(false, false)

            if (is_space)
              .coupon__get-rating
                h3.coupon__get-rating-title
                  | Оцените место
                +rating(false, false)

            .coupon__contacts
              h3.coupon__contacts-title
                | Контактная информация

              if (!is_space)
                a.coupon__contacts-place(href="#", title="Аквапарк «Родео Драйв»")
                  | Аквапарк «Родео Драйв»
                .coupon__contacts-rating
                  +rating(true, false)

              span.coupon__contacts-phone-title
                | Телефон:
              span.coupon__contacts-phone
                | +7 (812) 123-45-67<br />
                | +7 (812) 123-45-67<br />
                | +7 (812) 123-45-67<br />

              span.coupon__contacts-cite-title
                | Сайт:
              a.coupon__contacts-cite(href="mycite.com")
                | mycite.com
              <br />
              a.coupon__contacts-cite(href="mycite.com")
                | mycite.com
              <br />
              a.coupon__contacts-cite(href="mycite.com")
                | mycite.com
              <br />

              span.coupon__contacts-timetable-title
                | Время работы:
              span.coupon__contacts-timetable
                | Пн-Вс: 08:00-22:00

              a.coupon__place-btn(href="#addressTab")
                | Посмотреть адреса
            .coupon__sharing
              h3.coupon__sharing-title
                | Понравилась акция?
              p.coupon__sharing-desc
                | Расскажите о ней своим друзьям!
              .coupon__sharing-socials.socials
                +socials()

      #review.tab-pane.fade(role="tabpanel" aria-labelledby="reviewTab")
        .coupon__body.coupon__review-tab
          .coupon__comment-block
            article.coupon__comment.coupon-comment
              .coupon-comment__photo-wrap
                img.coupon-comment__photo(src="http://via.placeholder.com/46x46", alt="photo" width="46" height="46")
              .coupon-comment__content
                .coupon-comment__header
                  h3.coupon-comment__title
                    | Константин Константинопольский
                  time.coupon-comment__date(datetime="2017-08-02 12:24")
                    | 2 августа 2017 12:24
                .coupon-comment__rating
                  +rating(true, false)
                p.coupon-comment__text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur quo vero est dolore, optio recusandae, vel quisquam beatae illo distinctio tempora blanditiis ad quos molestias. In porro dolorum veritatis!
            article.coupon__comment.coupon-comment
              .coupon-comment__photo-wrap
                img.coupon-comment__photo(src="http://via.placeholder.com/46x46", alt="photo" width="46" height="46")
              .coupon-comment__content
                .coupon-comment__header
                  h3.coupon-comment__title
                    | Валентина Константинопольский
                  time.coupon-comment__date(datetime="2017-08-02 12:24")
                    | 2 августа 2017 12:24
                .coupon-comment__rating
                  +rating(true, false)
                p.coupon-comment__text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda aspernatur quo vero est dolore, optio recusandae, vel quisquam beatae illo distinctio tempora blanditiis ad quos molestias. In porro dolorum veritatis!
          .coupon__rating-block
            span.coupon__rating-block-title
              | Оценки пользователей
            .coupon__rating
              +rating(true, false)
              span.coupon__rating-count
                | 80%

            .coupon__rating
              +rating(true, false)
              span.coupon__rating-count
                | 20%

        .coupon__footer
          h2.coupon__footer-title
            | Оставить отзыв
          .coupon__footer-inner
            .coupon__footer-rating-block
              span.coupon__footer-rating-title
                | Ваша оценка
              .coupon__footer-rating
                +rating(false, false)
            form.coupon__footer-form(action="")
              textarea.coupon__footer-textarea(name="msg")
              button.coupon__footer-submit.btn(type="submit")
                | Добавить отзыв

      #address.tab-pane.fade(role="tabpanel" aria-labelledby="addressTab")
        .coupon__body.coupon__address-tab
          #map.coupon__address-map

          .coupon__address-block
            .coupon__address-img-wrap
              img.coupon__address-img(src="http://via.placeholder.com/212x88" alt="img" width="212" height="88")
            span.coupon__address-info
            h2.coupon__address-title
              | Итальянский ресторан Il Patio
            a.btn.coupon__address-btn(href="#")
              | Подробнее о месте
            .coupon__address-meta
              svg.coupon__address-meta-icon(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#coupon__address-clock-icon")
              span.coupon__address-meta-desc
                | Пн-Вс, 08:00-22:00
            .coupon__address-meta
              svg.coupon__address-meta-icon(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#coupon__address-phone-icon")
              a.coupon__address-meta-desc(href="tel:+78121234567")
                | +7 (812) 123-45-67
            .coupon__address-meta
              svg.coupon__address-meta-icon(width="13" height="18")
                use(xlink:href="img/sprite-svg.svg#coupon__address-map-icon")
              span.coupon__address-meta-desc
                | пр. Культуры, 1, Москва
