.btn {
  display: inline-block;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  color: #fefefe;
  padding: 6px 16px 7px;
  background-color: #ff0000;
  border: none;
  border-radius: 4px;

  &:hover {
    color: #fefefe;
    background-color: #ff3d3d;
    font-weight: bold;
  }

  &:active {
    color: #fefefe;
    background-color: #e30101;
  }
}
