mixin popular-places()

  .popular-places
    h2.popular-places__title
      | Популярные места
      svg.popular-places__icon(fill="#f00" width="14" height="15")
        use(xlink:href="img/sprite-svg.svg#popular-places__fire-icon")

    ul.popular-places__list
      li.popular-places__item
        a.popular-places__link(href="#", title="")
          img.popular-places__pic(width="167" height="80" src="img/adidas_logo.png", alt="adidas")
      li.popular-places__item
        a.popular-places__link(href="#", title="")
          img.popular-places__pic(width="167" height="80" src="img/alex_fitness_logo.png", alt="alex_fitness")
      li.popular-places__item
        a.popular-places__link(href="#", title="")
          img.popular-places__pic(width="167" height="80" src="img/finn_flare_logo.png", alt="finn_flare")
      li.popular-places__item
        a.popular-places__link(href="#", title="")
          img.popular-places__pic(width="167" height="80" src="img/kassir_logo.png", alt="kassir_logo")
      li.popular-places__item
        a.popular-places__link(href="#", title="")
          img.popular-places__pic(width="167" height="80" src="img/svyaznoy_logo.png", alt="svyaznoy_logo")
