.socials {
  justify-content: center;

  &__list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-right: 18px;
  }

  &__item {
    margin-left: 10px;
  }

  &__link {
    display: inline-block;
  }

  &__icon {
    width: 26px;
    height: 26px;
  }

  svg {
   fill: #B6B6B6;

   &:hover {
    fill: #bebebe;
   }

   &:active {
    fill: #999999;
   }
  }
}
