mixin socials()
  ul.socials__list
    li.socials__item
      a.socials__link(href="#" title="facebook")
        svg.socials__icon(width="26" height="26")
          use(xlink:href="img/sprite-svg.svg#socials__fb")

    li.socials__item
      a.socials__link(href="#" title="instagram")
        svg.socials__icon(width="26" height="26")
          use(xlink:href="img/sprite-svg.svg#socials__inst")

    li.socials__item.socials__item-fb
      a.socials__link(href="#" title="vkontakte")
        svg.socials__icon(width="26" height="26")
          use(xlink:href="img/sprite-svg.svg#socials__vk")

