mixin socials()
  ul.socials__list
    li.socials__item
      svg.socials__icon
        use(xlink:href="img/sprite-svg.svg#socials__fb")
      a.socials__link(href="#")

    li.socials__item
      svg.socials__icon
        use(xlink:href="img/sprite-svg.svg#socials__inst")
      a.socials__link(href="#")

    li.socials__item.socials__item-fb
      svg.socials__icon
        use(xlink:href="img/sprite-svg.svg#socials__vk")
      a.socials__link(href="#")

