.tag-panel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
  min-height: 63px;
  margin-bottom: 9px;
  position: relative;

  @media (min-width: 380px) {
    margin-bottom: 15px;
  }

  @media (min-width: $screen-sm) {
    width: 100%;
    display: block;
    margin-left: 0;
    margin-right: 0;
  }

  &__header {
    display: none;
    border-bottom: 1px solid #dcdcdc;

    @media (min-width: $screen-md) {
      display: flex;
      padding-left: 19px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 19px;
      justify-content: space-between;
    }
    @media (min-width: $screen-lg) {
      padding-left: 19px;
      padding-top: 19px;
      padding-bottom: 16px;
      padding-right: 19px;
    }
  }
  &__labels {
    margin-left: -1px;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__body {
    padding-left: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    position: relative;

    @media (min-width: $screen-xs) {
      padding-left: 19px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 19px;
      display: flex;
      justify-content: space-between;
    }
    @media (min-width: $screen-lg) {
      padding-left: 19px;
      padding-top: 19px;
      padding-bottom: 19px;
      padding-right: 19px;
    }
  }

  &__info {
    flex: 3;

    @media (min-width: $screen-lg) {
      flex: 1;
    }
  }

  &__rating {
    margin-bottom: 7px;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-size: 20px;
    margin-bottom: 7px;
    color: #323232;

    @media (min-width: $screen-lg) {
      font-size: 28px;
    }
  }

  &__subtitle {
    margin: 0;
    font-weight: normal;
    font-size: 14px;
  }

  &__btn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    right: 15px;
    top: 15px;

    @media (min-width: $screen-md) {
      position: static;
    }

    @media (min-width: $screen-md) {
      justify-content: flex-end;
      justify-content: space-between;
    }
  }

  &__sold {
    display: none;

    @media (min-width: $screen-md) {
      display: flex;
      align-items: center;
    }
  }

  &__coupon-sold-icon {
    width: 26px;
    height: 26px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__sold-count {
    margin-right: 5px;
  }
  &__sold-title {

  }

  &__footer {
    position: absolute;
    right: 15px;
    top: 15px;
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;

    @media (min-width: $screen-sm) {
      position: static;
      align-items: flex-end;
      flex: 1;
    }
  }

  &__rss,
  &__favorite {
    border-radius: 4px;
    border: 1px solid #dedede;
    color: #787878;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 34;
    height: 34px;
    font-size: 14px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    @media (min-width: $screen-md) {
      line-height: 34px;
      height: 34px;
      padding-left: 20px;
      padding-right: 17px;
      min-width: 224px;
    }

    @media (min-width: $screen-lg) {
      min-width: 248px;
    }

    svg {
      fill: #b5b5b5;
    }

    span {
      display: none;
      padding-left: 9px;
      line-height: 1;

      @media (min-width: $screen-md) {
        display: inline;
        width: 100%;
      }
    }

    &:hover {
      color: #787878;
      border: 1px solid #7c7c7c;
      background-color: #fff;

      svg {
        fill: #b5b5b5;
      }
    }
  }

  &__favorite {
    margin-left: 10px;

    svg {
      fill: #ffffff;
      stroke: #b5b5b5;
    }

    &:hover {

      svg {
        fill: #ffffff;
        stroke: #b5b5b5;
      }
    }
  }

  &__footer-rss {
    border-radius: 4px;
    border: 1px solid #dedede;
    color: #787878;
    padding-left: 8px;
    padding-right: 8px;
    line-height: 34;
    height: 34px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;

    svg {
      fill: #b5b5b5;
    }

    @media (min-width: $screen-md) {
      line-height: 34px;
      height: 34px;
      padding-left: 8px;
      padding-right: 8px;
    }

    @media (min-width: $screen-lg) {
      min-width: 248px;
      padding-left: 20px;
    }

    span {
      display: none;
      padding-left: 9px;
      line-height: 1;

      @media (min-width: $screen-lg) {
        display: inline;
        width: 100%;
      }
    }

    &:hover {
      color: #787878;
      border: 1px solid #969696;
      background-color: #fff;

      svg {
        fill: #b5b5b5;
      }
    }
  }

  & &__btn-rss,
  & &__btn-favorite {
    width: 16px;
    height: 15px;
  }
}
