mixin coupon-item(disabled)

  if (!disabled)
    .coupon-item
      a.coupon-item__close(href="#" data-dismiss="modal" aria-label="Close")
        svg.close-icon(width="9" height="9")
          use(xlink:href="img/sprite-svg.svg#modals__close")

      .coupon-item__sale-info
        span.coupon-item__sale до
          span 50%
        span.coupon-item__price от
          span 400 руб.

      span.coupon-item__place
        | Аквапарк «Родео Драйв»

      h3.coupon-item__title
        | Скидка до 50% на первое посещение бассейна
        | Скидка до 50% на первое посещение бассейна
        | Скидка до 50% на первое посещение бассейна

      span.coupon-item__category
        | Фитнес-центры
      a.coupon-item__link(href="#")
        | Искать похожие

  if (disabled)
    .coupon-item.disabled
      a.coupon-item__close(href="#" data-dismiss="modal" aria-label="Close")
        svg.close-icon(width="9" height="9")
          use(xlink:href="img/sprite-svg.svg#modals__close")

      .coupon-item__sale-info
        span.coupon-item__sale до
          span 50%
        span.coupon-item__price от
          span 400 руб.

      span.coupon-item__place
        | Аквапарк «Родео Драйв»

      h3.coupon-item__title
        | Скидка до 50% на первое посещение бассейна

      .coupon-item__category-info
        span.coupon-item__category
          | Фитнес-центры
        a.coupon-item__link(href="#")
          | Искать похожие
