mixin lightbox-modal()

  #lightboxModal.modal.lightbox-modal(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content.lightbox-modal__content

        .modal-body.lightbox-modal__body

          .slider-for.lightbox-modal__main
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")
            .lightbox-modal__bigslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="500" height="231")

          .slider-nav.lightbox-modal__mini
            .lightbox-modal__smallslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="93" height="68")
            .lightbox-modal__smallslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="93" height="68")
            .lightbox-modal__smallslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="93" height="68")
            .lightbox-modal__smallslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="93" height="68")
            .lightbox-modal__smallslide
              img.lightbox-modal__img(src="img/avd__bg.jpg", alt="photo" width="93" height="68")

