.lightbox-modal {
  padding-left: 0;

  .modal-dialog {
    width: 100%;
    max-width: 700px;
  }

  &__content {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: transparent;
  }

  &__body {
    padding: 0;
  }

  &__main {}
  &__mini {}

  .slick-prev {
    position: absolute;
    font-size: 0;
    height: 40px;
    width: 40px;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;
    z-index: 1;

    &:hover {
      background-color: #dadada;
    }

    &:active {
      background-color: #c5c5c5;
    }

    &:before {
      content: "";
      position: absolute;
      top: 16px;
      left: 18px;
      height: 9px;
      width: 9px;
      display: inline-block;
      border-bottom: 1px solid #8d8d8d;
      border-right: 1px solid #8d8d8d;
      transform: rotate(135deg);
      z-index: 1;
    }

    &:focus {
      outline: 0;
    }
  }

  .slick-next {
    padding: 0;
    border: none;
    font-size: 0;
    z-index: 0;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #eeeeee;

    &:hover {
      background-color: #dadada;
    }

    &:active {
      background-color: #c5c5c5;
    }

    &:before {
      content: "";
      position: absolute;
      height: 9px;
      width: 9px;
      display: inline-block;
      border-bottom: 1px solid #8d8d8d;
      border-right: 1px solid #8d8d8d;
      transform: rotate(-45deg);
      z-index: 1;
      right: 18px;
      top: 16px;
    }

    &:focus {
      outline: 0;
    }
  }

  &__bigslide {
    width: 100%;
    margin: 0 auto;
    display: block;
    // display: block !important;
  }

  &__smallslide {
    // width: 93px !important;
    width: 93px;
    height: 68px;
    padding-left: 7px;
    padding-right: 7px;
    opacity: 0.8;
  }

  &__img {
    margin: 0 auto;
    width: auto;
  }

  .slick-current {

    .lightbox-modal__smallslide {
      opacity: 1;
    }
  }
}


