mixin place-item(disabled)

  if (!disabled)
    .place-item
      span.place-item__close
      span.place-item__category
        | Развлечения

      h3.place-item__title
        | Аквапарк «Родео Драйв»

      span.place-item__meta
        | Адрес
      span.place-item__meta-address
        | пр. Культуры, 1, Москва

      span.place-item__meta
        | Телефон
      span.place-item__meta-phone
        | +7 (812) 123-45-67

      span.place-item__meta
        | Время работы
      span.place-item__meta-phone
        | Пн-Вс: 08:00-22:00

      a.place-item__link(href="#")
        | Подробнее

  if (disabled)
    .place-item.disabled
      span.place-item__close
      span.place-item__category
        | Развлечения

      h3.place-item__title
        | Аквапарк «Родео Драйв»

      span.place-item__meta
        | Адрес
      span.place-item__meta-address
        | пр. Культуры, 1, Москва

      span.place-item__meta
        | Телефон
      span.place-item__meta-phone
        | +7 (812) 123-45-67

      span.place-item__meta
        | Время работы
      span.place-item__meta-phone
        | Пн-Вс: 08:00-22:00

      a.place-item__link(href="#")
        | Подробнее
