mixin advert(title)
  .advert
    .advert__img-wrap
      img.advert__img(width="336" height="330" src="http://via.placeholder.com/336x330", alt=title)

    //- h2.advert__title
    a.advert__link(href="#" title="Скидки до 50% на билеты до барселоны")
      | Скидки до 50% <br> на билеты <br> до барселоны

    span.advert__info Реклама

