mixin advert(title)
  a.advert(href="#" title="Скидки до 50% на билеты до барселоны")
    .advert__img-wrap
      img.advert__img(width="336" height="330" src="img/avd__bg.jpg", alt=title)

    p.advert__link()
      | Скидки до 50% <br> на билеты <br> до барселоны

    span.advert__info Реклама
