extends templates/coupon_layout.pug

block meta
  title Coupon page
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block page-header
  +page-header()

block extra-blocks
  +extra-food()

block tag-panel
  +tag-panel("Купон на бесплатное посещение бассейна", "При покупке любого абонемента - одно занятие бесплатно!", false, false, false)

block coupon-gallery
  +coupon-gallery("Здесь так же проходят другие акции")
  +coupon-gallery("Похожие предложения")

block append modal
  +auth-modal()
  +reg-modal()
  +regafter-modal()
  +warnauth-modal()

//- block append page-bottom
  //- script(src='some.js')
