<!DOCTYPE html>
html(lang="ru")
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="robots" content="noindex, nofollow")
  title Навигация по страницам проекта
  link(rel="stylesheet", href="css/style.min.css")
  link(rel="shortcut icon", href="/img/favicon.ico", type="image/x-icon")

body

  nav
    h1 Навигация по страницам проекта
    ol
      hr
      li
        a(href="index_admin.html" target="_blank") Главная от админа
      li
        a(href="index_user.html" target="_blank") Главная от пользователя
      li
        a(href="index_none.html" target="_blank") Главная без авторизации
      hr
      li
        a(href="category_admin.html" target="_blank") Страница категории от админа
      li
        a(href="category_user.html" target="_blank") Страница категории от пользователя
      li
        a(href="category_none.html" target="_blank") Страница категории без авторизации
      hr
      li
        a(href="site_admin.html" target="_blank") Страница купонного сайта от админа
      li
        a(href="site_user.html" target="_blank") Страница купонного сайта от пользователя
      li
        a(href="site_none.html" target="_blank") Страница купонного сайта без авторизации
      hr
      li
        a(href="coupon_admin.html" target="_blank") Страница купона от админа
      li
        a(href="coupon_user.html" target="_blank") Страница купона от пользователя
      li
        a(href="coupon_none.html" target="_blank") Страница купона без авторизации
      hr
      li
        a(href="place_admin.html" target="_blank") Страница места от админа
      li
        a(href="place_user.html" target="_blank") Страница места от пользователя
      li
        a(href="place_none.html" target="_blank") Страница места без авторизации
      hr

  style.
    h1 {
      display: inline-block;
      width: 100%;
    }
    nav {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 40px;
      background-color: #fff;
      padding: 20px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
    }
    ol {
      display: inline-block;
    }
    li {
      text-decoration: underline;
      padding: 5px;
    }
    a {
      color: black;
    }
    a:visited {
      color: red;
    }
