extends templates/layout.pug

block meta
  title  List of places
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block page-header
  +page-header()

block extra-blocks
  +extra-food()

block top-panel
  +top-panel("Спорт и отдых", "Популярное в данной категории", false, true, false)

block filter
  +filter(true)

block main-content
  +list-of-places()


//- block append page-bottom
  //- script(src='some.js')
