//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/logo/logo.pug
include blocks/socials/socials.pug
include blocks/side-nav/side-nav.pug
include blocks/collections/collections.pug
include blocks/extra-food/extra-food.pug
include blocks/extra-places/extra-places.pug
include blocks/popular-places/popular-places.pug
include blocks/popular-offers/popular-offers.pug
include blocks/top-panel/top-panel.pug
include blocks/tag-panel/tag-panel.pug
include blocks/top-panel-edit/top-panel-edit.pug
include blocks/label/label.pug
include blocks/bread/bread.pug
include blocks/filter/filter.pug
include blocks/main-content/main-content-index.pug
include blocks/main-content/main-content-category.pug
include blocks/main-content/main-content-site.pug
include blocks/main-content/main-content-places-category.pug
include blocks/advert/advert.pug
include blocks/subscribe/subscribe.pug
include blocks/about/about.pug

//- modals
include blocks/modal-location/modal-location.pug
include blocks/modal-select/modal-select.pug
include blocks/modals/auth-modal.pug
include blocks/modals/reg-modal.pug
include blocks/modals/regafter-modal.pug
include blocks/modals/warnauth-modal.pug
include blocks/modals/error-modal.pug
include blocks/modals/rating-modal.pug
include blocks/modals/review-modal.pug
include blocks/modals/warndel-modal.pug


include blocks/coupon/coupon.pug
include blocks/coupon-gallery/coupon-gallery.pug
include blocks/rating/rating.pug
include blocks/list-of-places/list-of-places.pug
include blocks/pagination/pagination.pug
include blocks/coupon-modal/coupon-modal.pug
include blocks/profile-nav/profile-nav.pug
include blocks/profile-main/profile-main.pug
include blocks/profile-main/profile-subscribe.pug
include blocks/profile-main/profile-favorite.pug
include blocks/profile-main/profile-reviews.pug
include blocks/lightbox-modal/lightbox-modal.pug
