//- Подключение примесей

include blocks/main-nav/main-nav.pug
include blocks/page-header/page-header.pug
include blocks/page-footer/page-footer.pug
include blocks/logo/logo.pug
include blocks/socials/socials.pug
include blocks/side-nav/side-nav.pug
include blocks/collections/collections.pug
include blocks/extra-food/extra-food.pug
include blocks/extra-places/extra-places.pug
include blocks/popular-places/popular-places.pug
include blocks/popular-offers/popular-offers.pug
include blocks/top-panel/top-panel.pug
include blocks/top-panel-edit/top-panel-edit.pug
include blocks/label/label.pug
include blocks/bread/bread.pug
include blocks/filter/filter.pug
include blocks/main-content/main-content-index.pug
include blocks/main-content/main-content-category.pug
include blocks/main-content/main-content-site.pug
include blocks/advert/advert.pug
include blocks/subscribe/subscribe.pug
include blocks/about/about.pug
include blocks/modal-location/modal-location.pug
include blocks/modals/modals.pug
include blocks/location/location.pug
