extends templates/layout.pug

block meta
  title Places Category
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block page-header
  +page-header()

block side-nav
  +side-nav()

block extra-blocks
  +extra-food()

block bread
  +bread(true)

block top-panel
  +top-panel("Все купоны со скидками в одном месте", "Популярные категории", false, false, false)

block main-content
  +main-content-index()

//- block append page-bottom
  //- script(src='some.js')
