extends templates/layout.pug

block meta
  title Site
  meta(name='description', content='')

//- block append head
  //- link(rel="stylesheet", href="style.min.css")

block page-header
  +page-header("Константин")

block extra-blocks
  +popular-offers()

block bread
  +bread("Boombate")

block top-panel
  +top-panel("Бесплатные купоны на скидку в Санкт-Петербурге от сайта bOombate", "Популярное в данной категории", false, true, true)

//- block append page-bottom
  //- script(src='some.js')
