// pushy
html, body{
  overflow-x: hidden;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

*,
*:after,
*:before {
  outline: none;
}

html {
  min-height: 100%;
}

body {
  background-color: #f0f0f0;
  color: $light-gray;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  &.bg-grey {
    background-image: url(../img/back_grey.jpg);
  }
  &.bg-orange-1 {
    background-image: url(../img/back_orange_1.jpg);
  }
  &.bg-orange-2 {
    background-image: url(../img/back_orange_2.jpg);
  }
  &.bg-red-1 {
    background-image: url(../img/back_red_1.jpg);
  }
  &.bg-red-2 {
    background-image: url(../img/back_red_2.jpg);
  }
  &.bg-red-3 {
    background-image: url(../img/back_red_3.jpg);
  }
  &.bg-yellow {
    background-image: url(../img/back_yellow.jpg);
  }
}

a {
  text-decoration: none;
  color: $light-gray;
  font-weight: normal;

  &:hover {
    text-decoration: none;
    color: $light-gray;
    font-weight: normal;
  }
}

ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}

h1, h2, h3, h4 ,h5, h6 {
  font-weight: normal;
}

select {
  width: auto !important;
}

img {
  width: 100%; /* Ширина изображений */
  height: 100%; /* Высота изображении */
  object-fit: cover; /* Вписываем фотографию в область */
}

button {
  border: none
}

.error {
  color: #ff0000;
  line-height: 20px;
}
