/*! Pushy - v1.1.0 - 2017-1-30
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */

$menu_width: 235px !default;

/* Menu Appearance */

.pushy{
    position: fixed;
    width: $menu_width;
    height: 100%;
    top: 0;
    z-index: 900;
    // background: #ffffff;
    overflow: auto;
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */

    @media (min-width: $screen-md) {
      position: static;
    }

    a{
        // display: flex;
        // color: #b3b3b1;
        // padding: 15px 30px;
        text-decoration: none;
    }

    a:hover{
        // color: #FFF;
    }

    ul:first-child{
        // margin-top: 10px;
    }

    &.pushy-left{
        left: 0;
    }

    &.pushy-right{
        right: 0;
    }
}

.pushy-content{
    visibility: hidden;

    @media (min-width: $screen-md) {
      visibility: visible;
    }
}

/* Menu Movement */

.pushy-left{
    -webkit-transform: translate3d( unquote('-' + $menu_width) ,0,0);
    -ms-transform: translate3d( unquote('-' + $menu_width) ,0,0);
    transform: translate3d( unquote('-' + $menu_width) ,0,0);

    @media (min-width: $screen-md) {
      -webkit-transform: translate3d( 0, 0, 0);
      -ms-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
}

.pushy-open-left{
    #container,
    .push{
        -webkit-transform: translate3d( $menu_width ,0,0);
        -ms-transform: translate3d( $menu_width ,0,0);
        transform: translate3d( $menu_width ,0,0);

        @media (min-width: $screen-md) {
          -webkit-transform: translate3d( 0, 0, 0);
          -ms-transform: translate3d( 0, 0, 0);
          transform: translate3d( 0, 0, 0);
        }
    }
}

.pushy-right{
    -webkit-transform: translate3d( $menu_width ,0,0);
    -ms-transform: translate3d( $menu_width ,0,0);
    transform: translate3d( $menu_width ,0,0);

    @media (min-width: $screen-md) {
      -webkit-transform: translate3d( 0, 0, 0);
      -ms-transform: translate3d( 0, 0, 0);
      transform: translate3d( 0, 0, 0);
    }
}

.pushy-open-right{
    #container,
    .push{
        -webkit-transform: translate3d( unquote('-' + $menu_width) ,0,0);
        -ms-transform: translate3d( unquote('-' + $menu_width) ,0,0);
        transform: translate3d( unquote('-' + $menu_width) ,0,0);

        @media (min-width: $screen-md) {
          -webkit-transform: translate3d( 0, 0, 0);
          -ms-transform: translate3d( 0, 0, 0);
          transform: translate3d( 0, 0, 0);
        }
    }
}

.pushy-open-left,
.pushy-open-right{
    .pushy{
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .pushy-content{
        visibility: visible;
    }
}

/* Menu Transitions */

#container,
.pushy,
.push{
    transition: transform .5s cubic-bezier(.16, .68, .43, .99);
}

.pushy-content{
    transition: visibility .5s cubic-bezier(.16, .68, .43, .99);
}

/* Site Overlay */

.site-overlay{
    display: none;
}

.pushy-open-left,
.pushy-open-right{

    .site-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 899;
        background-color: rgba(0,0,0,0.5);
        -webkit-animation: fade 500ms;
        animation: fade 500ms;

        // @media (min-width: $screen-md) {
        //   display: none;
        // }
    }
}

@keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@-webkit-keyframes fade{
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Submenu Appearance */

.pushy-submenu{
    ul{
        padding-left: 15px;
        transition: max-height 0.2s ease-in-out,
                    visibility 0.2s ease-in-out;

        .pushy-link{
            transition: opacity 0.2s ease-in-out;
        }
    }

    /* Submenu Buttons */

    button{
        width: 100%;
        color: #b3b3b1;
        padding: 15px 30px;
        text-align: left;
        background: transparent;
        border: 0;

        &:hover{
            color: #FFF;
        }
    }

    /* Submenu Icon */

    // > a,
    > button {
        display: inline-block;
        width: 10px;
        height: 10px;
        padding: 0;
    }

    // > a::after,
    > button::after {
        content: '';
        // display: block;
        display: inline-block;
        height: 9px;
        width: 15px;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 60%;
        right: 0;
        border-top: 1px solid #969696;
        border-right: 1px solid #969696;

        -webkit-transform: translateY(-50%) rotate(135deg);
        -ms-transform: translateY(-50%) rotate(135deg);
        transform: translateY(-50%) rotate(135deg);
        transition: transform 0.4s;
    }
}

/* Submenu Movement */

.pushy-submenu-closed{
    ul{
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.2s ease-out;
    }

    .pushy-link{
        opacity: 0;
    }
}

.pushy-submenu-open{
    ul{
        max-height: 1000px;
        visibility: visible;
        transition: 0.6s ease-out;
    }

    .pushy-link{
        opacity: 1;
    }

    &>a {
      color: #f00;
    }

    /* Submenu Icon */

    // a::after,
    button::after{
        border-color: #f00;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }
}
