.filter {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  margin: 0 auto;



  @media (min-width: $screen-sm) {
    align-items: baseline;
    width: 100%;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
    padding: 0;
  }

  &__settings {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    @media (min-width: $screen-sm) {
      width: auto;
      align-items: baseline;
      justify-content: flex-start;
    }
  }

  &__view {
    order: 0;
    font-size: 0;
    margin-left: 34px;

    @media (min-width: $screen-sm) {
      margin-left: 0;
      margin-right: 25px;
    }

    @media (min-width: $screen-md) {
      display: flex;
      align-items: baseline;
    }
    @media (min-width: $screen-lg) {
      margin-right: 34px;
    }

    span {
      // display: none;

      // @media (min-width: $screen-sm) {
        display: block;
      // }
    }
  }

  &__desc {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;

    @media (min-width: $screen-sm) {
      margin-right: 10px;
    }

    @media (min-width: $screen-md) {
      display: inline;
    }

    &--is_places {
      display: inline-block;
      margin-right: 10px;
    }
  }

  &__tabs {
    display: flex;
  }

  &__btn {
    border: 1px solid #a3a3a3;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 18px;
    font-weight: normal;
    color: #787878;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    border: 1px solid rgba($color: #a3a3a3, $alpha: 0.5);

    &:hover {
      color: #787878;
      font-weight: normal;
      background-color: #fff;
    }

    &:focus {}

    &:active {
      background-color: #fff;
    }

    &.active {
      background-color: rgba($color: #ffffff, $alpha: 1);
      border: 1px solid rgba($color: #a3a3a3, $alpha: 1);
    }

    &--left {
      border-radius: 4px 0 0 4px;
    }

    &--right {
      margin-left: -1px;
      border-radius: 0 4px 4px 0;
    }

    & span {
      display: none;

      @media (min-width: $screen-sm) {
        display: inline;
        margin-left: 10px;
      }
    }

    svg {
      fill: #a3a3a3;
      position: relative;
      top: -2px;
      left: -4px;
    }
  }

  &__btn-title {
    display: inline !important;
    margin-left: 10px;
  }

  &__by_plitka {
    width: 14px;
    height: 12px;
  }

  &__by_list {
    width: 15px;
    height: 11px;
  }

  &__on_map {
    width: 17px;
    height: 14px;
  }

  &__sort {
    order: -1;

    @media (min-width: $screen-sm) {
      order: 0;
    }
    @media (min-width: $screen-md) {
      // display: none;
    }
    @media (min-width: $screen-lg) {
      order: 0;
      // display: block;
    }
  }

  &__select {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    color: #787878;
    font-size: 14px;
    font-size: 14px;
    margin-right: 14px;
    padding: 6px 24px 7px 14px;
    height: auto;
    line-height: 1;

    @media (min-width: $screen-lg) {
      padding: 7px 98px 8px 14px;
    }

    &:focus {
      outline: none;
    }
  }

  &__option {}

  &__near {
    margin-top: 10px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__search_by_place {
    width: 18px;
    height: 18px;

    svg {
      fill: #323232;
      stroke: #323232;
    }

    &:hover {
      svg {
        fill: #a4a4a4;
      }
    }
  }
}
