.filter {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;

  &__desc {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;

    @media (min-width: $screen-md) {
      display: inline;
      margin-right: 10px;
    }
  }

  &__left-btn {
    border: 1px solid #a3a3a3;
    border-radius: 4px 0 0 4px;
    background-color: #fff;
    color: #787878;
    font-weight: normal;
    padding: 6px 10px 7px 18px;
    // height: 30px;
    display: inline-flex;
    align-items: center;
    line-height: 1;

    @media (min-width: $screen-md) {
      height: auto;
    }

    & span {
      display: none;

      @media (min-width: $screen-md) {
        display: inline;
        margin-left: 10px;
      }
    }

    &:hover {
      color: #787878;
      font-weight: normal;
    }
  }

  &__by_plitka {
    width: 14px;
    height: 12px;
  }

  &__right-btn {
    border: 1px solid #a3a3a3;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    opacity: 0.5;
    color: #787878;
    font-weight: normal;
    margin-right: 34px;
    padding: 4px 10px 7px 18px;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    // height: 30px;

    @media (min-width: $screen-md) {
      height: auto;
      padding: 5px 10px 7px 18px;
      align-items: baseline;
    }

    & span {
      display: none;

      @media (min-width: $screen-md) {
        display: inline;
        margin-left: 10px;
      }
    }

    &:hover {
      color: #787878;
      font-weight: normal;
    }
  }

  &__on_map {
    width: 17px;
    height: 14px;
  }

  &__select {
    border: 1px solid #a3a3a3;

    border-radius: 4px;
    color: #787878;
    font-size: 14px;
    font-size: 14px;
    margin-right: 23px;
    padding: 6px 24px 7px 14px;
    height: auto;
    line-height: 1;

    @media (min-width: $screen-md) {
    }

    @media (min-width: $screen-lg) {
      padding: 7px 98px 8px 14px;
    }
  }

  &__option {}

  &__near {
    width: 100%;
    text-align: right;

    @media (min-width: $screen-md) {
      width: auto;
      display: flex;
      position: absolute;
      right: 0;
      top: 10px;
    }

    span {
      margin-right: 15px;
    }
  }

  &__sort {
    order: -1;

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__view {
    order: 0;
    font-size: 0;
  }

  &__search_by_place {
    width: 18px;
    height: 18px;
  }
}
