.filter {
  display: flex;
  position: relative;
  flex-direction: column;

  @media (min-width: $screen-md) {
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row;
  }

  &__settings {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      width: auto;
      justify-content: flex-start;
    }
  }

  &__view {
    order: 0;
    font-size: 0;

    @media (min-width: $screen-md) {
      margin-right: 34px;
    }
  }

  &__desc {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;

    @media (min-width: $screen-md) {
      display: inline;
      margin-right: 10px;
    }
  }

  &__btn {
    border: 1px solid #a3a3a3;
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 18px;
    font-weight: normal;
    color: #787878;
    opacity: 0.5;

    &:hover {
      color: #787878;
      font-weight: normal;
      background-color: #fff;

    }

    &--active {
      opacity: 1;
    }

    &--left {
    border-radius: 4px 0 0 4px;
    }

    &--right {
      margin-left: -1px;
      border-radius: 0 4px 4px 0;
    }

    & span {
      display: none;

      @media (min-width: $screen-md) {
        display: inline;
        margin-left: 10px;
      }
    }
  }

  &__by_plitka {
    width: 14px;
    height: 12px;
  }

  &__on_map {
    width: 17px;
    height: 14px;
  }

  &__sort {
    order: -1;

    @media (min-width: $screen-md) {
      order: 0;
    }
  }

  &__select {
    border: 1px solid #a3a3a3;
    border-radius: 4px;
    color: #787878;
    font-size: 14px;
    font-size: 14px;
    margin-right: 23px;
    padding: 6px 24px 7px 14px;
    height: auto;
    line-height: 1;

    @media (min-width: $screen-md) {}

    @media (min-width: $screen-lg) {
      padding: 7px 98px 8px 14px;
    }
  }

  &__option {}

  &__near {
    margin-top: 10px;

    @media (min-width: $screen-md) {
      margin-top: 0;
    }
  }

  &__search_by_place {
    width: 18px;
    height: 18px;

    svg {
      fill: #323232;
    }

    &:hover {
      svg {
        fill: #a4a4a4;
      }
    }
  }
}
