mixin modal-location()

  '<div class="modal-select">',

    '<div class="modal-select__header">',
      '<h5 class="modal-select__title">Выбран ваш город ?</h5>',
      '<a class="modal-select__close" href="#" data-dismiss="modal" aria-label="Close">',
        '<svg class="close-icon" width="14" height="14"><use xlink:href="img/sprite-svg.svg#modals__close"></use></svg>',
      '</a>',
    '</div>',

    '<div class="modal-select__body">',
      '<div class="modal-select__location">',
        '<svg class="modal-select__location-icon" width="11" height="16"><use xlink:href="img/sprite-svg.svg#page-header__location"></use></svg>',
        '<span class="modal-select__location-info">Город</span>',
        '<a class="modal-select__location-city callModalLocation" href="#">Москва</a>',
      '</div>',
      '<div class="modal-select__btn-block">',
        '<button class="modal-select__btn btn" data-dismiss="modal" aria-label="Close">Да</button>',
        '<button class="modal-select__btn btn btn--gray" id="modalsBtnCancel">Нет</button>',
      '</div>',
    '</div>',

  '</div>'

