.main-content {
  padding-top: 16px;

  @media (min-width: $screen-md) {
    padding-bottom: 16px;
    margin-left: -4px;
    margin-right: -4px;
  }

  @media (min-width: $screen-lg) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $screen-md) {
      justify-content: flex-start;
    }
  }

  &__btn-block {
    display: flex;
    justify-content: center;
  }

  &__btn {
    line-height: 43px;
    height: 54px;
    padding-left: 43px;
    padding-right: 41px;
    color: #787878;
    font-weight: normal;
    background-color: #e9e9e9;
    border-radius: 6px;

    &:hover {
      background-color: #f3f1f1;
    }

    &:active {
      background-color: #dcdcdc;
    }

    @media (min-width: $screen-md) {
      margin-top: 8px;
    }

    @media (min-width: $screen-lg) {
      margin-top: 17px;
    }

    &:hover {
      color: #787878;
      font-weight: normal;
    }
  }

  &__pagination {
    display: flex;
    justify-content: center;
  }

  &__header {
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 18px;
    padding-bottom: 12px;
    border-bottom: 1px solid #dcdcdc;
    background-color: #fff;

    @media (min-width: $screen-sm) {
      border-radius: 10px 10px 0 0;
    }
  }

  &__header-title {
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 0;
  }

  &__body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      border-radius: 10px;
    }

    @media (min-width: $screen-md) {
      flex-direction: row;
    }
  }

  &__address-tab {
    position: relative;
    flex-direction: column !important;
  }

  &__address-block {
    width: 100%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    border-top: 1px solid #979797;

    @media (min-width: $screen-sm) {
      width: 242px;
      position: relative;
      border-radius: 6px;
      border-top: 0;
      // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__address-list {}

  &__address-item {
    font-size: 14px;
    color: #787878;
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;

    &.active {
      background-color: #d8d8d8;
      border-radius: 4px;
      padding-left: 9px;
      padding-right: 9px;
    }
  }

  &__address-img-wrap {
    width: 212px;
    height: 88px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 14px;
    display: none;
    position: relative;

    @media (min-width: $screen-sm) {
      display: block;
    }
  }

  &__address-img {
    min-height: 1px;
    width: 100%;
  }

  &__address-title {
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 10px;
    display: block;

    &:hover {
      font-size: 14px;
      font-weight: bold;
      color: #323232;
    }

    @media (min-width: $screen-md) {
      font-size: 12px;
      font-weight: bold;

      &:hover {
        font-size: 12px;
        font-weight: bold;
        color: #323232;
      }
    }
  }

  &__address-btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
    width: 100%;
    height: 32px;
    line-height: 18px;
    text-align: center;
  }

  &__address-meta {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
  }

  &__address-meta-icon {
    width: 14px;
    height: 14px;
  }

  &__address-meta-desc {
    font-size: 14px;
    color: #323232;
    display: inline-block;
    margin-left: 10px;

    @media (min-width: $screen-md) {
      font-size: 12px;

    }
  }

  &__address-map {
    height: 288px;
    width: 100%;
    border: none;

    @media (min-width: $screen-md) {
      height: 560px;
    }
  }

  &__address-menu {

    .menu {
      padding: 20px;
      column-count: 1;

      @media (min-width: $screen-md) {
        column-count: 3;
        column-gap: 3px;
      }

      li {}
      a {
        font-size: 18px;
        line-height: 24px;
        padding-top: 10px;
        color: #969696;

        &:hover {
          color: #ff0000;
        }

        &:active {
          color: #ff0000;
        }

        @media (min-width: $screen-md) {
          font-size: 14px;
          padding-top: 0;
        }
      }

      .main-content__address-item {

      }
    }
  }

  &__price {
    color: #323232;
    font-weight: normal;
    font-weight: 700;
    padding: 5px;


    @media (min-width: $screen-md) {
      position: absolute;
      border-radius: 0 0 5px 5px;
      background-color: #313131;
      opacity: 0.8;
      color: #fff;
      left: 24px;
      top: 15px;
    }

    span {
      font-weight: 700;
    }

    &--green {
      background-color: #1a912b;
      opacity: 0.8;
    }
  }

  &__sale {
    border-radius: 20px;
    background-color: #f00;
    color: #fff;
    font-weight: normal;
    padding: 5px 15px 8px;
    display: inline-block;

    @media (min-width: $screen-md) {
      display: inline;
      position: absolute;
      right: 23px;
      top: 88px;
    }

    span {
      font-weight: 700;
    }
  }

  &__address-info {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      display: block;
      margin-bottom: 0;
    }
  }

  &__label {
    width: 150px;
    color: #323232;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;

    @media (min-width: $screen-xs) {
      display: inline-block;
    }

    @media (min-width: $screen-sm) {
      margin: 0;
      margin-left: 32px;
    }
  }

  &__select {
    border: 1px solid #dedede;
    padding: 6px 10px 8px;
    border-radius: 4px;
    line-height: 18px;
    height: 32px;
    font-size: 14px;
    margin-bottom: 32px;
    width: 100% !important;

    @media (min-width: $screen-sm) {
      margin-bottom: 13px;
      width: 210px;
    }

    @media (min-width: $screen-md) {
      width: 250px;
    }
  }
}
