.main-content {
  padding-top: 18px;
  margin-left: -4px;
  margin-right: -4px;

  @media (min-width: $screen-md) {
    padding-bottom: 16px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__btn-block {
    display: flex;
    justify-content: center;
  }

  &__btn {}
}
