.modal-location {
  z-index: 2000;


  .modal-dialog {
    margin: 0;

    @media (min-width: $screen-md) {
      max-width: 997px;
      height: 568px;
      margin: 1.75rem auto;
    }
  }

  &__content {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0;
    border: none;

    @media (min-width: $screen-md) {
      height: 100%;
      position: static;
      border-radius: 6px;
      border: 1px solid rgba(0,0,0,.2);
    }
  }

  &__header {
    display: block;
    text-align: center;
    position: relative;
    padding: 17px;
  }

  &__title {
    color: #323232;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
  }

  &__close {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);


    @media (min-width: $screen-md) {
      min-height: 0;
      top: 0;
      right: 0;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #f0f0f0;
      padding: 0px 0px !important ;
      margin: -0.9rem -0.8rem 0rem auto !important;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__body {
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
  }

  &__city-char-list {


    @media (min-width: $screen-md) {
      column-count: 5;
      column-gap: 3px;
    }
  }

  &__city-char-item {
    display: flex;

  }

  &__city-char {
    display: none;


    @media (min-width: $screen-md) {
      display: inline;
      font-size: 14px;
      color: #d1d1d1;
      font-weight: bold;
      line-height: 30px;
    }
  }

  &__city-list {
    padding-left: 14px;
    vertical-align: top;
  }

  &__city-item {

  }

  &__city-link {
    font-size: 14px;
    font-weight: bold;
    color: #969696;
    line-height: 30px;

    &:hover {
      font-weight: bold;
      color: #969696;
    }
  }

  &__footer {
    justify-content: center;
    padding-top: 23px;
    padding-bottom: 27px;
  }

  &__search {

  }

  &__header-search {
    display: none;
  }

  &__label {
    font-weight: bold;
    font-size: 14px;
    color: #323232;
    display: block;
  }

  &__input {
    font-size: 14px;
    width: 462px;
    height: 32px;
    line-height: 32px;
    color: #969696;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    margin-right: 15px;
  }

  &__btn {
    border-radius: 4px;
    border: 1px solid #dedede;
    color: #787878;
    background-color: #fff;
    padding: 6px 15px 8px 15px;
    font-weight: normal;

    &:hover {
      color: #787878;
      font-weight: normal;
    }
  }
}
