.modal-location {
  z-index: 2000;


  .modal-dialog {
    max-width: 768px;
    margin: 0;
    top: 50px;

    @media (min-width: $screen-md) {
      max-width: 997px;
      height: 568px;
      margin: 1.75rem auto;
      top: 0;
    }
  }

  &__content {
    border-radius: 0;
    border: none;

    @media (min-width: $screen-md) {
      border-radius: 6px;
      border: 1px solid rgba(0,0,0,.2);
    }
  }

  &__header {
    display: block;
    text-align: center;
    position: relative;
    padding: 17px;
    padding-bottom: 53px;
    background-color: #fff;
    border-bottom: 1px solid #d8d8d8;

    @media (min-width: $screen-md) {
      border-radius: 6px 6px 0 0;
      padding-bottom: 17px;
    }
  }

  &__title {
    color: #323232;
    font-weight: bold;
    display: inline-block;
    font-size: 14px;

    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }

  &__close {
    margin: 0 !important;
    padding: 0 !important;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;

    @media (min-width: $screen-md) {
      width: 27px;
      height: 27px;
      min-height: 0;
      top: 0;
      right: 0;
      background-color: #fff;
      border-radius: 50%;
      border: 1px solid #f0f0f0;
      padding: 6px !important;
      margin: -0.9rem -0.8rem 0rem auto !important;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    }
  }

  &__close-icon {
    width: 14px;
    height: 14px;
  }

  &__body {
    background-color: #fff;
    overflow-y: auto;
    padding: 0;

    @media (min-width: $screen-md) {
      padding-top: 40px;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 20px;
    }
  }

  &__city-char-list {

    @media (min-width: $screen-sm) {
      column-count: 2;
      column-gap: 0;
    }

    @media (min-width: $screen-md) {
      column-count: 5;
      column-gap: 3px;
    }
  }

  &__city-char-item {
    display: flex;

  }

  &__city-char {
    display: none;


    @media (min-width: $screen-md) {
      display: inline;
      font-size: 14px;
      color: #d1d1d1;
      font-weight: bold;
      line-height: 30px;
    }
  }

  &__city-list {
    vertical-align: top;
    width: 100%;

    @media (min-width: $screen-md) {
      padding-left: 14px;
    }
  }

  &__city-item {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 34px;
    border-bottom: 1px solid #d8d8d8;

    @media (min-width: $screen-md) {
      border: none;
    }
  }

  &__city-link {
    font-size: 14px;
    font-weight: bold;
    color: #969696;
    line-height: 30px;

    &:hover {
      font-weight: bold;
      color: #969696;
    }
  }

  &__footer {
    justify-content: center;
    padding: 0;
    background-color: #fff;

    @media (min-width: $screen-md) {
      padding-top: 23px;
      padding-bottom: 27px;
      border-radius: 0 0 6px 6px;
    }
  }

  &__search {
    position: absolute;
    top: 43px;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;

    @media (min-width: $screen-md) {
      position: static;
      width: auto;
    }
  }

  &__header-search {
    display: none;
  }

  &__label {
    font-weight: bold;
    font-size: 14px;
    color: #323232;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__input {
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    color: #969696;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 462px;
      margin-right: 15px;
    }
  }

  &__btn {
    display: none;

    @media (min-width: $screen-md) {
      display: inline-block;
      border-radius: 4px;
      border: 1px solid #dedede;
      color: #787878;
      background-color: #fff;
      padding: 6px 15px 8px 15px;
      font-weight: normal;

      &:hover {
        color: #787878;
        font-weight: normal;
      }

      &:active {
        color: #787878;
        background-color: #fff;
      }
    }
  }
}
