mixin list-of-places()

  -
    var category_list = [
      'Красота и уход',
      'Обучение',
      'Авто-мото',
      'Кафе и рестораны',
      'Здоровье и медицина',
      'Все для детей',
      'Развлечения',
      'Доставка блюд',
      'Путешествия по России',
      'Зарубежный туризм',
      'Спорт и фитнес',
      'Услуги',
      'Товары и покупки',
      'Туризм'
    ];

    var category_item = {
      'Красота и уход':[
        'Салоны красоты',
        'Барбершопы',
        'Для мужчин',
        'Косметика и парфюмерия',
        'Уход за лицом',
        'Маникюр и педикюр',
        'Эпиляция',
        'Солярий',
        'SPA',
        'Массаж',
        'Уход за телом',
        'Косметология',
        'Лифтинг и омоложение',
        'Коррекция фигуры',
        'Парикмахерские услуги',
        'Ресницы и брови',
        'Пирсинг и татуировки'
      ],
      'Обучение':[
        'Иностранные языки',
        'Для школьников и студентов',
        'Онлайн-курсы',
        'Мастер-классы',
        'Автошколы, мотошколы',
        'Творчество',
        'Психологические тренинги',
        'Повышение квалификации'
      ],
      'Авто-мото':[
        'СТО и автосервисы',
        'Автошколы и курсы вождения',
        'Прокат авто',
        'Грузоперевозки',
        'Страхование',
        'Автотовары и аксессуары',
        'Тюнинг и доп. оборудование',
        'Шиномонтаж и сезонное хранение',
        'Автомойки, полировка, химчистка'
      ],
      'Кафе и рестораны':[
        'Банкеты и праздники',
        'Азиатская и восточная кухни',
        'Дегустации, винотеки',
        'Европейская кухня',
        'Индийская кухня',
        'Итальянская кухня, пицца',
        'Китайская кухня',
        'Кофе, чай, сладости',
        'Пиво, пабы, трактиры, бары',
        'Русская и украинская кухни',
        'Фаст фуд',
        'Японская кухня, суши'
      ],
      'Здоровье и медицина':[
        'Обследования и диагностика',
        'Стоматология',
        'МРТ/Рентген'
      ],
      'Все для детей':[
        'Детские товары',
        'Обучение и развитие',
        'Услуги для детей',
        'Развлечения для детей',
        'Детские праздники'
      ],
      'Развлечения':[
        'Квесты',
        'Экскурсии и музеи',
        'Кино',
        'Театры',
        'Концерты и шоу',
        'Активный отдых',
        'Скалолазание',
        'Горные лыжи, сноуборд, коньки',
        'Аквапарк',
        'Боулинг, бильярд',
        'Пейнтбол, страйкбол, лазертаг',
        'Картинг, квадроциклы',
        'Бани и сауны',
        'Зоопарк и животные',
        'Конные прогулки',
        'Ночные клубы'
      ],
      'Доставка блюд':[
        'Доставка суши, роллов',
        'Доставка пиццы',
        'Пироги',
        'Торты',
        'Доставка из кафе и ресторанов'
      ],
      'Путешествия по России':[
        'Золотое кольцо',
        'Отдых в Подмосковье',
        'Черное Море',
        'Абхазия',
        'Адыгея',
        'Байкал',
        'Алтай',
        'Другое'
      ],
      'Зарубежный туризм':[
        'Турция',
        'Тайланд',
        'Италия',
        'Греция',
        'Чехия',
        'Франция',
        'Испания',
        'Тунис',
        'Кипр',
        'Вьетнам',
        'Индия',
        'Китай',
        'Скандинавия',
        'Другие страны'
      ],
      'Спорт и фитнес':[
        'Фитнес-центры',
        'Йога',
        'Бассейны',
        'Танцы',
        'Единоборства',
        'Футбол, волейбол, баскетбол',
        'Спортивные занятия для детей'
      ],
      'Услуги':[
        'Ремонт',
        'Уборка и клининг',
        'Фото и видео',
        'Юридические услуги',
        'Организация праздников',
        'Доставка цветов',
        'Услуги для бизнеса',
        'Визы, паспорта'
      ],
      'Товары и покупки':[
        'Одежда и аксессуары',
        'Обувь',
        'Товары для дома',
        'Постельное белье',
        'Посуда',
        'Мобильные телефоны',
        'Гаджеты',
        'ПК и аксессуары',
        'Бытовая техника',
        'Продукты, напитки',
        'Подарки и сувениры',
        'Мебель',
        'Очки, оправы, линзы',
        'Туристические товары',
        'Товары для спорта',
        'Украшения и бижутерия',
        'Часы и будильники',
        'Игры и игрушки',
        'Табак, кальяны',
        'Книги и канцтовары'
      ],
      'Туризм':[
        'Горнолыжный отдых',
        'Дайвинг, серфинг',
        'Детские лагеря',
        'Круизы',
        'Санатории, фитнес-туры',
        'Коттеджи и базы отдыха',
        'Экскурсионные туры',
        'Билеты'
      ]
    };

  .list-of-places
    .list-of-places__header
      h2.list-of-places__title
        | Выберите категорию

      .list-of-places__sort
        select.filter__select.list-of-places__select.custom-select(name="label")
          each val in category_list
            option.filter__option(value= val)= val

    .tab-content
      .list-of-places__body#byList.tab-pane.fade.active(role="tabpanel" aria-labelledby="byListTab")
        ul.list-of-places__category-list
          each val, key in category_item
            li.list-of-places__category-item
              span.list-of-places__category-title=key
              ul.list-of-places__subcategory-list
                each val in category_item[key]
                  li.list-of-places__subcategory-item
                    a.list-of-places__subcategory-link(href="#", title=val)=val
                      span.list-of-places__subcategory-count 15

      .list-of-places__map#onMap.tab-pane.fade(role="tabpanel" aria-labelledby="onMapTab")
        .list-of-places__map-header
          a.btn.list-of-places__map-label.list-of-places__map-label--active(href="#")
            | Фитнес-центры
            span
              | 34

          a.btn.list-of-places__map-label(href="#")
            | Подарки
            span
              | 12

          a.btn.list-of-places__map-label(href="#")
            | Барбершопы
            span
              | 63

        .list-of-places__address-tab
          #placeMap.list-of-places__address-map

          //- .list-of-places__address-block
            .list-of-places__address-img-wrap
              img.list-of-places__address-img(src="http://via.placeholder.com/212x88" alt="img" width="212" height="88")
            span.list-of-places__address-info
            h2.list-of-places__address-title
              | Итальянский ресторан Il Patio
            a.btn.list-of-places__address-btn(href="#")
              | Подробнее о месте
            .list-of-places__address-meta
              svg.list-of-places__address-meta-icon(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#coupon__address-clock-icon")
              span.list-of-places__address-meta-desc
                | Пн-Вс, 08:00-22:00
            .list-of-places__address-meta
              svg.list-of-places__address-meta-icon(width="14" height="14")
                use(xlink:href="img/sprite-svg.svg#coupon__address-phone-icon")
              a.list-of-places__address-meta-desc(href="tel:+78121234567")
                | +7 (812) 123-45-67
            .list-of-places__address-meta
              svg.list-of-places__address-meta-icon(width="13" height="18")
                use(xlink:href="img/sprite-svg.svg#coupon__address-map-icon")
              span.list-of-places__address-meta-desc
                | пр. Культуры, 1, Москва
