.list-of-places {
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  margin-top: 18px;
  margin-bottom: 20px;

  @media (min-width: $screen-sm) {
    border-radius: 10px;
  }

  &__header {
    padding-top: 18px;
    padding-bottom: 16px;
    padding-left: 47px;
    display: block;
    border-bottom: 1px solid #dcdcdc;

    @media (min-width: $screen-md) {
      display: none;
      padding-top: 17px;
      padding-bottom: 15px;
      padding-left: 23px;
      padding-right: 23px;
    }
  }

  &__title {
    color: #323232;
    font-weight: bold;
    font-size: 14px;
  }

  &__select {
    background-color: #eeeeee;
    border: 1px solid #dedede;
  }

  &__body {
    padding-top: 18px;
    padding-left: 47px;
    padding-right: 9px;
    padding-bottom: 62px;

    @media (min-width: $screen-md) {
      padding-bottom: 72px;
      padding-left: 47px;
      padding-right: 62px;
      padding-top: 40px;
      margin-top: 28px;
      margin-bottom: 38px;
    }

    @media (min-width: $screen-lg) {
      padding-bottom: 58px;
      padding-top: 43px;
      margin-top: 22px;
      margin-bottom: 35px;
    }
  }

  &__category-list {

    @media (min-width: $screen-sm) {
      column-count: 2;
      column-gap: 3px;
    }

    @media (min-width: $screen-lg) {
      column-count: 3;
      column-gap: 3px;
    }
  }

  &__category-item {
    display: flex;
    flex-direction: column;
    display: inline-block;
    vertical-align: top;
  }

  &__category-title {
    font-size: 20px;
    color: #323232;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 15px;
  }

  &__subcategory-list {
    margin-bottom: 50px;
  }

  &__subcategory-item {

  }

  &__subcategory-link {
    font-size: 14px;
    color: #323232;
    line-height: 20px;

    &:hover {
      color: #ff0000;
    }

    &:active {
      color: #ff0000;
    }

    &:visited {
      color: #551e99;
    }

    &:visited:hover {
      color: #ff0000;
    }
  }

  &__subcategory-count {
    font-size: 14px;
    color: #323232;
    line-height: 20px;
    padding-left: 3px;
  }

  &__footer {
    display: flex;
    justify-content: center;
    padding-top: 23px;
    padding-bottom: 27px;
  }

  &__search {

  }

  &__label {
    font-weight: bold;
    font-size: 14px;
    color: #323232;
    display: block;
  }

  &__input {
    font-size: 14px;
    width: 462px;
    height: 32px;
    line-height: 32px;
    color: #969696;
    background-color: #eeeeee;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 6px 15px 8px 15px;
    margin-right: 15px;
  }

  &__btn {
    border-radius: 4px;
    border: 1px solid #dedede;
    color: #787878;
    background-color: #fff;
    padding: 6px 15px 8px 15px;
    font-weight: normal;

    &:hover {
      color: #787878;
      font-weight: normal;
    }
  }

  &__map {
    border-radius: 10px;
    position: relative;
    background-color: #fff;
  }

  &__map-header {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 20px;
    // padding-bottom: 15px;
    border-bottom: 1px solid #dcdcdc;
  }

  &__map-label {
    border-radius: 4px;
    border: 1px solid #969696;
    line-height: 18px;
    height: 30px;
    background-color: #fff;
    margin-right: 14px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 15px;
    color: #787878;
    font-weight: normal;

    span {
      padding-left: 5px;
      font-weight: normal;
      color: #787878;
    }

    &:hover {
      background-color: #ff0000;
      color: #fff;
      font-weight: normal;

      span {
        color: #fff;
        font-weight: normal;
      }
    }

    &:active {
      background-color: #ff0000;
      color: #fff;
      font-weight: normal;

      span {
        color: #fff;
      }
    }

    &--active {
      background-color: #ff0000;
      color: #fff;
      font-weight: normal;

      &:hover {
        background-color: #ff0000;
      }

      span {
        color: #fff;
      }
    }
  }

  &__address-tab {
    position: relative;
  }

  &__address-block {
    width: 100%;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;

    @media (min-width: $screen-md) {
      position: absolute;
      left: 18px;
      top: 18px;
      width: 242px;
      border-radius: 6px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }

  &__address-img-wrap {
    width: 212px;
    height: 88px;
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 14px;
    display: none;

    @media (min-width: $screen-md) {
      display: block;
    }
  }

  &__address-img {
    min-height: 1px;
    width: 100%;
  }

  &__address-title {
    font-size: 14px;
    font-weight: bold;
    color: #323232;
    margin-bottom: 10px;

    @media (min-width: $screen-md) {
      font-size: 12px;
    }
  }

  &__address-btn {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 17px;
    width: 100%;
    height: 32px;
    line-height: 18px;
    text-align: center;
  }

  &__address-meta {
    margin-bottom: 9px;
    display: flex;
    align-items: center;
  }

  &__address-meta-icon {
    width: 14px;
    height: 14px;
  }

  &__address-meta-desc {
    font-size: 14px;
    color: #323232;
    display: inline-block;
    margin-left: 10px;

    @media (min-width: $screen-md) {
      font-size: 12px;

    }
  }

  &__address-map {
    height: 288px;
    width: 100%;
    border: none;

    @media (min-width: $screen-md) {
      height: 560px;
    }
  }
}
