mixin list-of-places()

  -
    var city_list = {
      'А':['Александров', 'Арзамас', 'Армавир', 'Арзамас'],
      'Б':['Барнаул', 'Белозерск', 'Бердск', 'Бийск', 'Брянск'],
      'В':['Видное', 'Владивосток', 'Владикавказ', 'Владимир', 'Волгоград', 'Вологда', 'Воронеж', 'Выборг'],
      'Е':['Ейск', 'Екатеринбург', 'Енисейск', 'Ермолино', 'Ессентуки'],
      'З':['Заволжье', 'Закаменск', 'Звенигород', 'Зеленогорск', 'Зерноград'],
      'К':['Казань', 'Калининград', 'Калуга', 'Каменногорск', 'Кемерово', 'Кингисепп', 'Киров'],
      'Н':['Нижнекамск','Нижний Новгород', 'Николаевск-на-Амуре', 'Новороссийск', 'Новоузенск', 'Новочеркасск', 'Норильск'],
      'С':['Самара','Санкт-Петербург','Ставрополь','Суздаль'],
      'Ш':['Шлиссельбург']
    };

  .list-of-places
    .list-of-places__header
      h2.list-of-places__title
        | Выберите город

    .list-of-places__body
      ul.list-of-places__city-char-list
        each val, key in city_list
          li.list-of-places__city-char-item
            span.list-of-places__city-char=key
            ul.list-of-places__city-list
              each val in city_list[key]
                li.list-of-places__city-item
                  a.list-of-places__city-link(href="#", title=val)=val

    .list-of-places__footer
      form.list-of-places__search
        label.list-of-places__label
          | Или укажите город
        input.list-of-places__input(type="text", placeholder="Название города...")
        button.list-of-places__btn.btn(type='button')
          | Это мой город
